<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="zh-CN" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="zh-CN" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="zh-CN" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="zh-CN" class="no-js" > <!--<![endif]-->
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1"/>
    <meta name="author" content="wangyali"/>
    <meta name="keywords" content=""> <!-- 关键词，搜索什么能看到 -->
    <meta name="description" content=""/> <!-- 内容描述 -->
    <meta name="theme-color" content="#861519">
    <meta name="msapplication-navbutton-color" content="#861519">
    <meta name="apple-mobile-web-app-status-bar-style" content="#861519">


    <title>山下新闻</title>

    <!--CSS-->
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/reset.css"/>
    <link rel="stylesheet" href="css/style.css"/>
    <link rel="stylesheet" href="css/news.css"/>
    <link rel="stylesheet" href="css/respond.css"/>
    <link rel="shortcut icon" href="images/icon.png"/>


</head>
<body>

<!-- Navigation -->
<div id="my-nav">
	<my-nav></my-nav>
</div>

<div class="news-div">
	<a class="news-more">更多 >></a>
	<div class="news-left-right">
		<div id="news-left" class="news-left carousel slide">
			<!-- 轮播（Carousel）指标 -->
			<ol class="carousel-indicators">
				<li data-target="#news-left" data-slide-to="0" class="active"></li>
				<li data-target="#news-left" data-slide-to="1"></li>
				<li data-target="#news-left" data-slide-to="2"></li>
				<li data-target="#news-left" data-slide-to="3"></li>
				<li data-target="#news-left" data-slide-to="4"></li>
			</ol>   
			<!-- 轮播（Carousel）项目 -->
			<div class="carousel-inner" style="height: 100%;border: 1px solid rgba(255,255,255,0.5);">
				<div class="item active">
					<img src="images/example1.jpg" >
				</div>
				<div class="item">
					<img src="images/example2.jpg" >
				</div>
				<div class="item">
					<img src="images/example3.jpg" >
				</div>
				<div class="item">
					<img src="images/example1.jpg" >
				</div>
				<div class="item">
					<img src="images/example2.jpg" >
				</div>
			</div>
			<!-- 左下角的文字显示 -->
			<div class="news-left-bottom">
				<p class="news-title"> 我是标题 </p>
				<p class="news-content"> 我是描述我是描述我是描述我是描述我是描述我是描述 </p>
			</div>
		</div>
		<div id="news-right" class="news-right">
			<div class="each-cell" v-for="(anew,index) in news">
				<div class="each-cell-time">
					<p class="each-cell-time-month">{{anew.time.split('-')[0]+ '-' + anew.time.split('-')[1]}}</p>
					<p class="each-cell-time-day">{{anew.time.split('-')[2]}}</p>
				</div>
				<div class="each-cell-content">
					<a>{{anew.title}}</a>
					<p>{{anew.content}}</p>
				</div>
			</div>
			<div class="each-cell" v-for="(anew,index) in lastNews" style="margin-bottom: 0;">
				<div class="each-cell-time">
					<p class="each-cell-time-month">{{anew.time.split('-')[0]+ '-' + anew.time.split('-')[1]}}</p>
					<p class="each-cell-time-day">{{anew.time.split('-')[2]}}</p>
				</div>
				<div class="each-cell-content">
					<a>{{anew.title}}</a>
					<p>{{anew.content}}</p>
				</div>
			</div>
		</div>
	</div>
	
</div>

<!-- Footer -->
<div id="my-footer">
    <my-footer></my-footer>
</div>



<!--JS-->
<script src="js/vue.js"></script>
<script src="js/jquery-1.11.3.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/nav.js"></script>
<script src="js/respond.js"></script>
<script type="text/javascript" src="js/news.js"></script>

<script>
	
    
</script>


</body>
</html>
