.about-head {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	height: 500px;
	z-index: -1;
}
@media (max-width: 768px) {
	.about-head {
		height: 200px;
	}
}
.about-head img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.about-head-title-en {
	position: absolute;
	top: 110px;
	left: 0;
	right: 0;
	text-align: center;
	color: white;
	opacity: 0.6;
	font-size: 20px;
	font-weight: 300;
	line-height: 24px;
	letter-spacing: 2px;
}

.about-head-title-cn {
	position: absolute;
	top: 136px;
	left: 0;
	right: 0;
	text-align: center;
	color: white;
	opacity: 0.6;
	font-size: 18px;
	font-weight: 300;
	line-height: 25px;
}
@media (max-width: 768px) {
	.about-head-title-en, .about-head-title-cn {
		display: none;
	}
}

.about-placeholder {
	width: 100%;
	height: 500px;
	background: url(../images/about-bg.jpg) no-repeat center;
	background-size: cover;
	/*background-attachment: fixed;*/
}

.about {
	width: 100%;
	background-color: white;
	margin-top: 500px;
}

@media (max-width: 768px) {
	.about {
		margin-top: 200px;
	}
}

.about-container {
	color: #646464;
	text-align: center;
	max-width: 1020px;
	margin: 0 auto;
	padding: 110px 20px 98px 20px;
}
@media (max-width: 768px) {
	.about-container {
		padding: 38px 28px 40px 28px;
	}
}
.about-title {
	color: #646464;
    font-size: 20px;
    font-weight: 300;
    line-height: 38px;
}
@media (max-width: 768px) {
	.about-title {
		font-size: 14px;
		line-height: 20px;
		margin-bottom: 10px;
	}
}
.about-caption {
	color: #646464;
    font-size: 20px;
    font-weight: 300;
    line-height: 38px;
    margin-bottom: 38px;
}
@media (max-width: 768px) {
	.about-caption {
		font-size: 12px;
		line-height: 20px;
		margin-bottom: 10px;
	}
}
.about-desc, .about-desc-last {
	color: #646464;
    font-size: 20px;
    font-weight: 300;
    line-height: 38px;
    margin-bottom: 5px;
}
.about-desc-last {
    margin-bottom: 60px;
}
@media (max-width: 768px) {
	.about-desc {
		font-size: 14px;
		line-height: 20px;
		margin-bottom: 5px;
	}
	.about-desc-last {
		font-size: 14px;
		line-height: 20px;
	    margin-bottom: 23px;
	}
}
.promo {
	position: relative;
	width: 100%;
	padding-top: 36.7%;
	margin-bottom: 60px;
	background: url(../images/index-promo-bg.jpg) no-repeat;
	background-size: cover;
}
@media (max-width: 768px) {
	.promo {
		padding-top: 37.5%;
		margin-bottom: 30px;
	}
}
.promo-play {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 48px;
    width: 48px;
}
@media (max-width: 768px) {

	.promo-play {
		height: 35px;
		width: 35px;
	}
}

.promo:hover {
	cursor: pointer;
}
.index-founder-title {
	font-size: 26px;
    font-weight: 300;
    line-height: 37px;
    margin-bottom: 52px;
}
@media (max-width: 768px) {
	.index-founder-title {
		font-size: 16px;
	    line-height: 22px;
	    margin-bottom: 30px;
	}
}
.index-founder-list {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
@media (max-width: 768px) {
	.index-founder-list {
		justify-content: space-between;
    }
}
.index-founder-item {
	width: 265px;
	display: flex;
}
@media (max-width: 768px) {
	.index-founder-item {
		width: 86px;
        flex-direction: column;
	}
}
.index-founder-item-avatar {
    height: 120px;
    width: 120px;
    border-radius: 60px;
    overflow: hidden;
    background-color: white;
    flex-shrink: 0;
}
@media (max-width: 768px) {
	.index-founder-item-avatar {
		height: 86px;
		width: 86px;
		border-radius: 43px;
	}
}
.index-founder-item-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.index-founder-item-right {
	text-align: left;
	padding-left: 30px;
    margin: auto 0;
}
@media (max-width: 768px) {
	.index-founder-item-right {
    	text-align: center;
        padding-left: 0;
	}
}
.index-founder-item-name {
	font-size: 24px;
	font-weight: 300;
	line-height: 28px;
    height: 28px;
}
@media (max-width: 768px) {
	.index-founder-item-name {
		font-size: 16px;
		line-height: 20px;
		margin-top: 18px;
        height: 20px;
	}
}