
.mask {
    width: 100%;
    height: 100%;
    background-color: #000;
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.9;
    position: absolute;
    left: 0px;
    top: 0px;
    display: none;
    z-index: 1000;
}

.content {
    margin-top: 50px;
    text-align: center;
}

.mask-video-content {
    margin-top: 3.385%;
    flex-direction: row;
    display: flex;
    width: 100%;
}

.mask-index-video {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.mask-video-content-left {
    height: 100%;
    width: 9.27%;
    display: flex;
}

.mask-video-content-left:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.mask-video-content-right:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.mask-video-content-right {
    height: 100%;
    width: 9.27%;
    display: flex;
    opacity: 1;
}

.mask-hh-video-content-slide {
    width: 81.7%;
    margin: auto;
}

.mask-video-content-center {

}

.mask-item-img {
    margin: auto;
}

.hh-mask-video-img-div {
    padding: 0px;
}

.mask-arrow-left {
    /*height: 2.9%;*/
    width: 1.354%;
    width: 26px;
    margin: auto 35px auto auto;
}

.mask-arrow-right {
    /*height: 2.9%;*/
    /*width: 1.354%;*/
    width: 26px;
    height: 56px;
    margin: auto auto auto 35px;
}

.page-bak {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: -1;
    height: 28.6vw;
    background-size: cover;
    /*padding-top: 5vw;*/
}

.page {
    background-color: #1a1c21;
    width: 100%;
}

.film-content {
    margin-top: 3.385%;
    width: 100%;
    max-width: 1920px;
    flex-direction: row;
    display: flex;
}

.film-content-center {
    width: 81.6vw;
    margin: auto 9.1vw;
}

.hh-film-img-div {
    padding: 0px;
    display: flex;
}

.film-more {
    width: 38%;
    height: 72px;
    margin: 1.9% auto 1.9% auto;
    display: flex;
    background-color: rgba(255,255,255,0.03);
    color: #999999;
    font-family: FZLanTingHei-L-GBK;
    font-size: 20px;
    align-items: center;
    transition: all 0.3s;
}
.film-more:hover{
    background-color: rgba(255,255,255,0.08);
    color: #fff;
}
.film-more-text:hover{
    color: #fff;
}

.film-more-text {
    font-family: FZLanTingHei-L-GBK;
    font-size: 20px;
    line-height: 0;
    margin: auto;
}
.film-item-img{
    overflow: hidden;
}
.film-item-shadow {
    vertical-align: bottom;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 1;
    transition: all 0.3s;
}

.film-item-shadow:hover {
    opacity: 0;
}
