
a, a:hover, a:active, a:visited { color: inherit; text-decoration: none; } 
.hp-div {
	max-width: 1020px;
	width: 100%;
	padding: 0 20px;
	margin:150px auto 0 auto;
	display: flex;
}

.hp-phone-div {
	margin: 80px 24px 0 24px;
	display: flex;
	flex-direction: column;
}

.hp-left-div {
	display: flex;
	flex-direction: column;
	margin-bottom: 520px;
}

.hp-left-div img {
	width: 90px;
	height: 90px;
	border-radius: 45px;
}

.hp-name {
	margin: 26px auto 0px 0px;
	color: #646464;		
	font-size: 18px;	
	font-weight: 300;	
	line-height: 22px;
}

.hp-signout {
	font-size: 14px;
	line-height: 20px;
	font-weight: 300;
	margin: 13px auto 0px 0px;
	color: #646464;	
	text-align: center;
	position: relative;
}

/*.hp-left-div a {
	color: #646464;		
	font-size: 20px;	
	font-weight: 500;	
	line-height: 21px;
	border-bottom: 1px solid transparent;
	margin:0 auto 20px auto;
	padding-bottom: 2px;
	cursor: pointer;
}*/

.hp-left-div a:hover {
	color: rgb(102,187,245);
}

.hp-right-div {
	flex-grow: 1;
	margin: 0 0 0 75px;
	display: flex;
	flex-direction: column;
}

hr {
	width: 100%;
	height: 1px;	
	background-color: #646464;
	margin: 0 0;
	opacity: 0.2;
}

.hp-my-class {
	color: #646464;	
	font-size: 20px;	
	font-weight: bold;	
	line-height: 28px;
	margin-top: 20px;
}

.hp-my-state {
	color: #646464;	
	font-size: 16px;	
	font-weight: 300;	
	line-height: 28px;
	margin-top: 13px;
	margin-bottom: 13px;
}

.hp-detail-title {
	margin: 13px 150px 13px 0;
	width: 80%;
	
}

.hp-detail-tr {
	border-top: 1px solid #E0E0E0;
	border-bottom: 1px solid #E0E0E0;
	height: 60px;
}

.hp-detail-tr th {
	color: #646464;	
	font-size: 16px;	
	font-weight: bold;	
	line-height: 28px;
	text-align: left;
}

.hp-detail-tr-next {
	border-bottom: 1px solid #E0E0E0;
	height: 60px;
}

.hp-detail-tr-next td {
	color: #646464;	
	font-size: 16px;	
	font-weight: 300;	
	line-height: 28px;
	text-align: left;
}

.hp-my-date-div {
	width: 100%;
	display: flex;
	margin-top: 30px;
}

.hp-my-date-div-each {
	display: flex;
	flex-direction: column;
}

.hp-my-date-div-each p {
	color: #646464;	
	font-size: 16px;	
	font-weight: 300;	
	line-height: 22px;
	margin-top: 20px;
	height: 40px;
	padding-top: 10px;
}

.hp-my-date-div-each input {
	border: 1px solid transparent;
	margin-top: 20px;
	color: #646464;	
	font-size: 18px;	
	font-weight: 300;	
	line-height: 25px;
	height: 40px;
	width: 400px;
	padding-left: 13px;
	outline:none;
}

.hp-btn-change {
	margin: 118px auto 0 52px;
	border: 1px solid #646464;	
	border-radius: 100px;
	padding: 6px 151px;
	color: #646464;
	font-size: 20px;	
	font-weight: bold;	
	line-height: 28px;
	text-align: center;
}

.hp-phone-title {
	color: #646464;	
	font-size: 14px;	
	font-weight: bold;	
	line-height: 20px;
	padding: 10px 0;
	height: 40px;
	border-bottom: 1px solid #E0E0E0;
}

.hp-phone-title-p {
	font-weight: bold;	
	color: #646464;	
	font-size: 14px;	
	font-weight: bold;	
	line-height: 20px;
}

.hp-phone-title span {
	color: #646464;	
	font-size: 14px;	
	font-weight: 300;	
	line-height: 20px;
	margin: 8px 0 8px 30px;
}

.hp-phone-title-state {
	font-size: 14px;	
	font-weight: 300;	
	margin-left: 30px;
	line-height: 20px;
	background-color: #646464; 
	color: white;
	text-align: center;
	width: 77px;
}

.recording-div {
	margin-left: 80px;
}
/*手机版本*/
@media (max-width: 768px) {
	#pc-time,.news-title-en,.news-title-cn,#pc-arrow,footer,#pc-date {
		display: none;
	}
	
	
	.hp-left-div {
		flex-direction: row;
		margin-bottom: 25px;
		margin-top: 10px;
		width: 100%;
	}
	
	.hp-left-div img {
		width: 60px;
		height: 60px;
		border-radius: 30px;
		margin-right: 20px;
	}
	.hp-name {
		font-size: 16px;	
		margin-top: 6px;
		text-align: left;
	}
	.hp-signout {
		margin-top: 8px;
		text-align: left;
	}
	
	.hp-my-class {
		font-size: 16px;
		line-height: 22px;
		margin-top: 12px;
	}
	
	.hp-my-state {
		font-size: 14px;	
		line-height: 20px;
		margin-top: 5px;
	}
	
	.hp-my-date-div {
		margin-top: 7px;
	}
	
	.hp-my-date-div-each p{
		font-size: 14px;	
		line-height: 20px;
		margin-top: 15px;
		height: 30px;
		padding-top: 5px;
	}
	
	.hp-my-date-div-each input {
		width: 100%;
		font-size: 14px;	
		line-height: 20px;
		margin-top: 15px;
		height: 30px;
		padding-left: 10px;
	}
	
	.hp-btn-change {
		margin: 60px 0 0 0;	
		padding: 6px 0;
		font-size: 18px;	
		font-weight: 300;	
		line-height: 25px;
	}
	
}

/*pc版本*/
@media (min-width: 769px) {
	#phone-time,#phone-arrow,#phone-date {
		display: none;
	}
}
