.index-bg {
    background-color: #1a1c21;
}

.jssorb031 {
    position: absolute;
}

.jssorb031 .i {
    position: absolute;
    cursor: pointer;
}

.jssorb031 .i .b {
    fill: #000;
    fill-opacity: 0.5;
    stroke: #fff;
    stroke-width: 1200;
    stroke-miterlimit: 10;
    stroke-opacity: 0.3;
}

.jssorb031 .i:hover .b {
    fill: #fff;
    fill-opacity: .7;
    stroke: #000;
    stroke-opacity: .5;
}

.jssorb031 .iav .b {
    fill: #fff;
    stroke: #000;
    fill-opacity: 1;
}

.jssorb031 .i.idn {
    opacity: .3;
}

.jssorb071 .i {position:absolute;color:#fff;font-family:"Helvetica neue",Helvetica,Arial,sans-serif;text-align:center;cursor:pointer;z-index:0;}
.jssorb071 .i .b {fill:#000;opacity:.2;}
.jssorb071 .i:hover {opacity:.7;}
.jssorb071 .iav {color:#000;}
.jssorb071 .iav .b {fill:#fff;opacity:1;}
.jssorb071 .i.idn {opacity:.3;}


@keyframes fadein {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.5;
    }
}

.loading {
    z-index: 10000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    text-align: center;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    display: -moz-box;
    -moz-box-align: center;
    -moz-box-pack: center;
    display: -o-box;
    -o-box-align: center;
    -o-box-pack: center;
    display: -ms-box;
    -ms-box-align: center;
    -ms-box-pack: center;
    display: box;
    box-align: center;
    box-pack: center;
}

.banner-title-div {
    position:absolute;
    top:63%;
    left:0px;
    text-align:left;
    box-sizing:border-box;
    height: 23%;    
    width: 45%; 
    background-color: rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
}
    
.banner-title-div a {
    color: #FFFFFF; 
    font-size: 42px;    
    line-height: 40px;
    margin: 34px 0 0 52px;
    font-weight: bolder;
}

.banner-title-div a:hover {
    color: #FFCC00;
}

.banner-content {
    color: #FFFFFF;
    font-size: 14px;
    line-height: 20px;
    margin: 21px 50px;
}

.banner-more {
    height: 24px;
    width: 70px;
    border: 1px solid #FFFFFF;
    margin: 0 50px;
    text-align: center;
}

.banner-more p {
    line-height: 12px;
    color: #FFFFFF;
    font-size: 12px;
    margin-top: 6px;
}

.banner-title-div span {
    color: #FFFFFF;
    font-size: 16px;
    line-height: 17px;
    margin-left: 22px;
    font-weight: bolder;
}

@media (max-width: 863px) {
    .banner-title-div {
        opacity: 0.0;
    }
}

.loading img {
    width: 150px;
    height: 220px;
    /*animation: fadein 1s infinite;*/
    /*animation-direction: alternate;*/
}

@media (max-width: 768px) {
    .loading img {
        width: 102px;
        height: 150px;
    }
}

.banner-video {
    object-fit: cover;
    object-position: 50% 0%;
    width: 100%;
    height: 100%;
    background: none;
}

.about-head {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    height: 500px;
    z-index: -1;
}

@media (max-width: 768px) {
    .about-head {
        height: 200px;
    }
}

.about-head img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.about-head-title-en {
    position: absolute;
    top: 110px;
    left: 0;
    right: 0;
    text-align: center;
    color: white;
    opacity: 0.6;
    font-size: 20px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 2px;
}

.about-head-title-cn {
    position: absolute;
    top: 136px;
    left: 0;
    right: 0;
    text-align: center;
    color: white;
    opacity: 0.6;
    font-size: 18px;
    font-weight: 300;
    line-height: 25px;
}

@media (max-width: 768px) {
    .about-head-title-en, .about-head-title-cn {
        display: none;
    }
}

.about-placeholder {
    width: 100%;
    height: 500px;
    background: url(../images/about-bg.jpg) no-repeat center;
    background-size: cover;
    /*background-attachment: fixed;*/
}

.video-line-left {
    height: 1px;
    width: 86px;
    border: 1px solid #FFFFFF;
    background-color: #FFFFFF;
    margin: 8px 26px 8px auto;

}

.video-line-right {
    height: 1px;
    width: 86px;
    border: 1px solid #FFFFFF;
    background-color: #FFFFFF;
    margin: 8px auto 8px 26px;
}

.hh-video {
    background-color: #1a1c21;
}

.hh-video-title {
    height: 17px;
    color: #FFFFFF;
    font-family: FZLanTingHei-B-GBK;
    font-size: 18px;
}

.video-top {
    text-align: center;
    flex-direction: row;
    display: flex;
    /*width: 200px;*/
    margin: 110px auto 0px auto;
}

.video-content-left {
    /*height: 529px;*/
    width: 178px;
    opacity: 0.2;
    display: flex;
}

.video-content-right {
    /*height: 529px;*/
    width: 178px;
    opacity: 0.2;
    display: flex;
}

.arrow-left {
    height: 56px;
    width: 26px;
    margin: auto;
}

.arrow-right {
    height: 56px;
    width: 26px;
    margin: auto;
}

.video-content {
    margin-top: 65px;
    flex-direction: row;
    display: flex;
}

.hh-partners {
    background-color: #1a1c21;
}

.partners-icon-div {
    display: flex;
    align-items: center;
    margin: 64px auto 0px auto;
}

.partners-icon {
    margin: auto 35px;
}

.partners-icon-left {
    margin: auto 35px auto auto;
}

.partners-icon-right {
    margin: auto auto auto 35px;
}