.index-bg {
    background-color: #1a1c21;
}

.jssorl-009-spin img {
    animation-name: jssorl-009-spin;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes jssorl-009-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.jssorb031 {
    position: absolute;
}

.jssorb031 .i {
    position: absolute;
    cursor: pointer;
}

.jssorb031 .i .b {
    fill: #000;
    fill-opacity: 0.5;
    stroke: #fff;
    stroke-width: 1200;
    stroke-miterlimit: 10;
    stroke-opacity: 0.3;
}

.jssorb031 .i:hover .b {
    fill: #fff;
    fill-opacity: .7;
    stroke: #000;
    stroke-opacity: .5;
}

.jssorb031 .iav .b {
    fill: #fff;
    stroke: #000;
    fill-opacity: 1;
}

.jssorb031 .i.idn {
    opacity: .3;
}

@keyframes fadein {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.5;
    }
}

.loading {
    z-index: 10000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    text-align: center;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    display: -moz-box;
    -moz-box-align: center;
    -moz-box-pack: center;
    display: -o-box;
    -o-box-align: center;
    -o-box-pack: center;
    display: -ms-box;
    -ms-box-align: center;
    -ms-box-pack: center;
    display: box;
    box-align: center;
    box-pack: center;
}

.banner-title-div {
    position: absolute;
    top: 63%;
    left: 0px;
    text-align: left;
    box-sizing: border-box;
    height: 23%;
    width: 45%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
}

.banner-title {
    color: #FFCC00;
    font-size: 42px;
    line-height: 40px;
    margin: 34px 0 0 52px;
    font-weight: bolder;
}

.banner-content {
    color: #FFFFFF;
    font-size: 14px;
    line-height: 20px;
    margin: 21px 50px;
}

.banner-more {
    height: 24px;
    width: 70px;
    border: 1px solid #FFFFFF;
    margin: 0 50px;
    text-align: center;
}

.banner-more p {
    line-height: 12px;
    color: #FFFFFF;
    font-size: 12px;
    margin-top: 6px;
}

.banner-title span {
    color: #FFFFFF;
    font-size: 16px;
    line-height: 17px;
    margin-left: 22px;
    font-weight: bolder;
}

@media (max-width: 863px) {
    .banner-title-div {
        opacity: 0.0;
    }
}

.loading img {
    width: 150px;
    height: 220px;
    /*animation: fadein 1s infinite;*/
    /*animation-direction: alternate;*/
}

@media (max-width: 768px) {
    .loading img {
        width: 102px;
        height: 150px;
    }
}

.banner-video {
    object-fit: cover;
    object-position: 50% 0%;
    width: 100%;
    height: 100%;
    background: none;
}

.about-head {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    height: 500px;
    z-index: -1;
}

@media (max-width: 768px) {
    .about-head {
        height: 200px;
    }
}

.about-head img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.about-head-title-en {
    position: absolute;
    top: 110px;
    left: 0;
    right: 0;
    text-align: center;
    color: white;
    opacity: 0.6;
    font-size: 20px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 2px;
}

.about-head-title-cn {
    position: absolute;
    top: 136px;
    left: 0;
    right: 0;
    text-align: center;
    color: white;
    opacity: 0.6;
    font-size: 18px;
    font-weight: 300;
    line-height: 25px;
}

@media (max-width: 768px) {
    .about-head-title-en, .about-head-title-cn {
        display: none;
    }
}

.about-placeholder {
    width: 100%;
    height: 500px;
    background: url(../images/about-bg.jpg) no-repeat center;
    background-size: cover;
    /*background-attachment: fixed;*/
}

.video-line-left {
    height: 1px;
    width: 86px;
    border: 1px solid #FFFFFF;
    background-color: #FFFFFF;
    margin: 8px 26px 8px auto;

}

.video-line-right {
    height: 1px;
    width: 86px;
    border: 1px solid #FFFFFF;
    background-color: #FFFFFF;
    margin: 8px auto 8px 26px;
}

.hh-video {
    background-color: #1a1c21;
}

.hh-video-title {
    height: 17px;
    color: #FFFFFF;
    font-family: FZLanTingHei-B-GBK;
    font-size: 18px;
}

.video-top {
    text-align: center;
    flex-direction: row;
    display: flex;
    /*width: 200px;*/
    margin: 110px auto 0px auto;
}

.video-content-left {
    /*height: 529px;*/
    width: 178px;
    opacity: 0.2;
    display: flex;
}

.video-content-right {
    /*height: 529px;*/
    width: 178px;
    opacity: 0.2;
    display: flex;
}

.arrow-left {
    height: 56px;
    width: 26px;
    margin: auto;
}

.arrow-right {
    height: 56px;
    width: 26px;
    margin: auto;
}

.video-content {
    margin-top: 65px;
    flex-direction: row;
    display: flex;
}

.hh-partners {
    background-color: #1a1c21;
}

.partners-icon-div {
    display: flex;
    align-items: center;
    margin: 64px auto 0px auto;
<<<<<<< HEAD
=======
}

.sx-consulting-more {
    /*height: 10px;*/
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 300;
    line-height: 17px;
    text-align: center;
}

.sx-laboratory {
    display: none;
}

.sx-right-more {
    margin-left: 2px;
    width: 3px;
    height: 6.5px;
    margin-top: 2px;
}

.sx-school-holl-type {
    position: absolute;
    width: 100%;
    color: #FFFFFF;
    height: 17px;
    font-size: 12px;
    font-weight: 300;
    line-height: 17px;
    margin: auto;
    text-align: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transition: all 0.3s;
    opacity: 0;
    z-index: 100;
}

.sx-font-pc-white60 {
    color: #FFFFFF;
}

.index-course-item-img {
    position: relative;
    vertical-align: bottom;
    width: 100%;
    transition: all 0.3s;
}

.index-course-item-img > img {
    width: 100%;
    vertical-align: bottom;
}

.index-course-item-shadow {
    vertical-align: bottom;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    transition: all 0.3s;
}

.index-course-item-shadow > p {
    color: white;
    text-align: center;
    position: absolute;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
    height: 22px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.index-course-item-shadow:hover {
    opacity: 1;
}

/**
    pc屏
 */
@media (min-width: 768px) {
    .sx-font-pc-white60 {
        color: #FFFFFF;
        filter: alpha(opacity=60);
        opacity: .6;
    }

    .sx-school-holl {
        width: 100%;
        padding: 118px 20px 79px 20px;
        margin: 0 auto;
    }

    .sx-lab-holl {
        width: 100%;
        padding: 40px 20px 0 20px;
        margin: 0 auto;
    }

    .sx-content {
        max-width: 1020px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .sx-video-content {
        height: 480px;
        width: 100%;
        display: flex;
        color: white;
    }

    .sx-school-title {
        max-width: 1020px;
        font-size: 24px;
        font-weight: 300;
        line-height: 29px;
        letter-spacing: 2px;
        text-align: center;
        margin: 0 auto 0px auto;
    }

    .sx-video-title-en {
        max-width: 1020px;
        font-size: 24px;
        font-weight: 300;
        line-height: 29px;
        letter-spacing: 2px;
        text-align: center;
        margin: 181px auto 0px auto;
        z-index: 10;
        opacity: 1;
        justify-content: center;
        align-self: center;
    }

    .sx-video-title-cn {
        max-width: 1020px;
        font-size: 20px;
        font-weight: 300;
        line-height: 33px;
        text-align: center;
        margin: 0px auto 0px auto;
        z-index: 10;
        opacity: 1;
    }

    .sx-video-play {
        height: 44px;
        width: 44px;
        margin: 116px auto 0px auto;
    }

    .sx-font-content {
        color: #646464;
        font-size: 20px;
        font-weight: 300;
        line-height: 33px;
        text-align: center;
        margin-top: 60px;
        overflow: hidden;
        max-width: 1020px;
        width: 100%;
    }

    .sx-school-holl-div {
        flex-direction: row;
        align-items: center;
        width: 100%;
        display: flex;
        margin: 0px auto;
    }

    .sx-school-img-div {
        display: flex;
        flex-direction: column;
        padding-left: 0px;
        padding-right: 0px;
        /*margin: 40px 0px 0px auto;*/
    }

    .sx-school-holl-title-div {
        height: 40px;
        width: 100%;
        border: 1px solid #979797;
        border-radius: 100px;
        margin-top: 26px;
        text-align: center;
        color: #646464;
        font-size: 18px;
        font-weight: 300;
        line-height: 25px;
        padding-top: 7px;
        transition: all 0.3s;
    }

    .sx-school-holl-title-div-all {
        height: 40px;
        width: 100%;
        border: 1px solid rgb(102, 187, 245);
        border-radius: 100px;
        margin-top: 26px;
        text-align: center;
        font-size: 18px;
        font-weight: 300;
        line-height: 25px;
        padding-top: 7px;
        transition: all 0.3s;

        background-color: rgb(102, 187, 245);
        color: white;
        cursor: pointer;
    }

    .sx-school-holl-title {
        font-size: 20px;
        line-height: 28px;
    }

    .sx-laboratory-img {
        vertical-align: middle;
        width: 100%;
        transition: all 0.3s;
    }

    .sx-video {
        width: 100%;
    }

    .sx-school-holl-img {
        width: 100%;
        display: block;
    }

    .sx-school-holl-img-phone {
        display: none;
    }

    .sx-school-hint {
        font-size: 20px;
        line-height: 33px;
        font-weight: 300;
    }

    .sx-school-holl-content {
        width: 100%;
        height: 99px;
        color: #646464;
        font-size: 20px;
        font-weight: 300;
        line-height: 33px;
        margin-top: 28px;
        word-break: break-all;
        text-overflow: ellipsis;
        display: -webkit-box; /** 对象作为伸缩盒子模型显示 **/
        -webkit-box-orient: vertical; /** 设置或检索伸缩盒对象的子元素的排列方式 **/
        -webkit-line-clamp: 3; /** 显示的行数 **/
        overflow: hidden; /** 隐藏超出的内容 **/
        -moz-box-orient: vertical;
    }

    .sx-consulting-more {
        color: #FFFFFF;
        font-size: 14px;
        font-weight: 300;
        line-height: 20px;
        text-align: center;
        position: relative;
    }

    .sx-labs-more {
        color: #646464;
        font-size: 14px;
        font-weight: 300;
        line-height: 20px;
        position: relative;
    }

    .sx-right-more {
        margin-left: 9px;
        width: 6px;
        height: 13px;
        margin-top: 3px;
    }

    .sx-consulting-more-div {
        /*display: flex;*/
        max-width: 500px;
        flex-direction: row;
        margin: 33px auto 0px auto;
        justify-content: center;
        align-self: center;
    }

    .sx-consulting-more-div a:hover {
        color: rgb(102, 187, 245);
    }

    .sx-labs-more-div {
        display: flex;
        max-width: 100px;
        flex-direction: row;
        margin-top: 30px;
    }

    .sx-labs-more-div a:hover {
        color: rgb(102, 187, 245);
    }

    .sx-labs-more-div img:hover {
        background: url("images/arrow-right-blue.png");
    }

    .sx-laboratory-div {
        display: flex;
        flex-direction: column;
        width: 475px;
        margin: auto;
        -moz-transition: opacity .3s linear;
        -o-transition: opacity .3s linear;
        -webkit-transition: opacity .3s linear;
        transition: opacity .3s linear;
    }

    .sx-laboratory-div-right {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: auto 0px auto 20px;
    }

    .sx-laboratory-content {
        height: 142px;
        width: 100%;
        color: #646464;
        font-size: 20px;
        font-weight: 300;
        line-height: 33px;
        text-align: justify;
        margin-top: 30px;
    }

    .sx-laboratory-content-top {
        font-weight: 500;
        font-size: 20px;
        line-height: 33px;
        margin-bottom: 10px;
    }

    .sx-laboratory-phone {
        display: none;
    }

    .sx-school-holl-type {
        position: absolute;
        width: 100%;
        color: #FFFFFF;
        height: 28px;
        font-size: 20px;
        font-weight: 300;
        line-height: 28px;
        margin: auto;
        text-align: center;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        transition: all 0.3s;
        opacity: 0;
        z-index: 100;
    }

    .sx-yinying {
        width: 100%;
        background-color: black;
        position: relative;
    }

    .sx-yinying:hover img {
        filter: alpha(Opacity=80);
        opacity: .8;
    }

    .sx-labs-type {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        height: 25px;
        margin: auto;
        color: #FFFFFF;
        font-size: 18px;
        font-weight: 300;
        line-height: 25px;
        text-align: center;
        opacity: 0;
        transition: all 0.3s;
    }

    .sx-yinying:hover p {
        /*font-size: 26px;*/
        opacity: 1;
    }

    .sx-laboratory-view {
        max-width: 1020px;
        margin: 100px auto 113px auto;
        justify-content: center;
        align-self: center;
    }

    .index-lab-item-img {
        position: relative;
        vertical-align: bottom;
        width: 100%;
        transition: all 0.3s;
    }

    .index-lab-item-img > img {
        width: 100%;
        vertical-align: bottom;
    }

    .index-lab-item-shadow {
        vertical-align: bottom;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.8);
        opacity: 0;
        transition: all 0.3s;
    }

    .index-lab-item-shadow > p {
        color: white;
        text-align: center;
        position: absolute;
        font-size: 18px;
        font-weight: 300;
        line-height: 25px;
        letter-spacing: 2px;
        height: 25px;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }

    .index-lab-item-shadow:hover {
        opacity: 1;
    }

    .index-course-item-img {
        position: relative;
        vertical-align: bottom;
        width: 100%;
        transition: all 0.3s;
    }

    .index-course-item-img > img {
        width: 100%;
        vertical-align: bottom;
    }

    .index-course-item-shadow {
        vertical-align: bottom;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.8);
        opacity: 0;
        transition: all 0.3s;
    }

    .index-course-item-shadow > p {
        color: white;
        text-align: center;
        position: absolute;
        font-size: 20px;
        font-weight: 300;
        line-height: 28px;
        height: 28px;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }

    .index-course-item-shadow:hover {
        opacity: 1;
    }
>>>>>>> 4fb1ff14b94187bbfee61e1ef03e78ec1c78bf74
}

.partners-icon {
    margin: auto 35px;
}

.partners-icon-left {
    margin: auto 35px auto auto;
}

.partners-icon-right {
    margin: auto auto auto 35px;
}