.news {
	width: 100%;
	background-color: white;
	margin-top: 500px;
}

.news-container {
	color: #646464;
	text-align: center;
	max-width: 1020px;
	width:100%;
	margin: 0 auto;
	padding: 100px 20px 0 20px;
}

.news-title-en {
	color: #FFFFFF;
	opacity: 0.6;
    font-size: 18px;
    font-weight: 300;
    line-height: 25px;
    letter-spacing: 2px;
    text-align: center;
}
.news-title-cn {
	color: #FFFFFF;
	opacity: 0.6;
    font-size: 20px;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 29px;
    text-align: center;
}

.news-img {
	width: 100%;
	max-width: 980px;
	margin: 30px 0 0 0;
}


.news-video-play {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 45px;
    width: 45px;
    transition: all .2s linear;
}

.news-video:hover > .news-video-play {
    transform: scale(1.2);
}

.news-title {
	color: #646464;	
	font-size: 20px;	
	font-weight: 300;	
	line-height: 26px;	
	text-align: center;
	width: 100%;
	margin-top: 10px;
}

.news-bak {
	background-image: url(http://qnp.shanxiaxuetang.com/lab-head-pc.jpg);
	position: fixed;
	left: 0;
    top: 0;
    right: 0;
    z-index: -1;
	height: 500px;
	background-size: cover;
    padding-top: 110px;
}

.news-video:hover {
	cursor: pointer;
}

.fs-video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2000;
}

.fs-video-player {
	width: 60%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    
}

.fs-video-close {
	position: absolute;
	top: 32px;
	right: 32px;
	height: 40px;
	width: 40px;
	color: white;
	font-size: 40px;
	cursor: pointer;
}

.fs-video-arrow-left {
	position: absolute;
	left: 10%;
	top: 0;
	bottom: 0;
	width: 12px;
	margin: auto;
	cursor: pointer;
}
.fs-video-arrow-right {
	position: absolute;
	right: 10%;
	top: 0;
	bottom: 0;
	width: 12px;
	margin: auto;
	cursor: pointer;
}

.news-content {
	color: #646464;		
	font-size: 16px;	
	font-weight: 300;	
	line-height: 48px;	
	text-align: center;
	margin-top: 30px;
}

.news-content span {
	color: #66BBFF;
}

.sx-course-hint {
	margin-top: 25px;
	margin-bottom: 0px;
}

.news-each-left {
	flex-grow: 1;
	background-color: #F6F6F5;
	padding: 30px 30px 0 30px;
	width: 50%;
}

.news-each-right {
	flex-grow: 1;
	background-color: #E6E6E6;
	padding: 30px 30px;
	width: 50%;
}

.news-each-left p , .news-each-right p {
	margin: 0 0;
	text-align: left;
	line-height: 40px;
}

.news-footer-text {
	color: #646464;		
	font-size: 20px;	
	font-weight: 300;	
	line-height: 28px;	
	text-align: center;
	width: 100%;
	margin: 28px 0 0 0;
	padding-bottom: 80px;
}

.news-rule {
	margin-top: 24px;
}

.news-another-rule {
	margin-top: 10px;
}

.phone-br {
	display: none;
}

/*手机版本*/
@media (max-width: 768px) {
	.news-title-en,.news-title-cn,footer,#pc-show-img {
		display: none;
	}
	.phone-br {
		display: inline;
	}
	.news-bak {
		height: 202px;
		background-image: url(http://qnp.shanxiaxuetang.com/lab-head-phone.jpg);
	}
	.news {
		margin-top: 202px;
	}
	
	.news-container {
		padding-top: 20px;
	}
	
	.news-time {
		font-size: 8px;	
		line-height: 10px;
	}
	
	.news-title {
		font-size: 14px;
		line-height: 22px;
		margin-top: 3px;
	}
	
	.news-img,.news-video  {
		margin-top: 20px;
	}
	
	.news-content {
		margin-top: 20px;
		font-size: 12px;
		line-height: 22px;
		text-align: left;
	}
	
	.fs-video-player {
		width: 80%;
	}
	
	.sx-course-hint {
		margin-top: 18px;
	}
	
	.news-rule {
		margin-top:18px;
		text-align: center;
	}
	
	.news-each-left,.news-each-right {
		width: 100%;
		padding: 14px 14px;
	}
	
	.news-each-left p, .news-each-right p {
		line-height: 22px;
	}
	
	.news-footer-text {
		font-size: 14px;
		line-height: 20px;
		margin-top: 15px;
		padding-bottom: 31px;
	}
	
	.news-another-rule {
		margin-top: 20px;
	}
}

