a {
	cursor:pointer;
}
.news-div {
	width: 100%;
	/*padding: 16.7% 9.1% 17.5% 9.1%;*/
	background-color: #1A1C21;
	display: flex;
	flex-direction: column;
}

.news-left-right {
	display: flex;
	margin-bottom: 8%;
	height: 70%;
}

.news-left {
	width: 45%;
	max-width: 865px;
	height: 100%;
	max-height: 576px;
	margin-left: 9%;
	background-color: #1A1C21;
}

.news-right {
	width: 32.5%;
	max-width: 603px;
	height: 100%;
	max-height: 608px;
	margin: 0 9% 0 4.5%;
	display: flex;
	flex-direction: column;
}

.each-cell {
	display: flex;
	margin-bottom: 7.4%;
}

.each-cell-time {
	border: 1px solid #FFFFFF;
	display: flex;
	flex-direction: column;
	text-align: center;
	border-radius: 4px;
}

.each-cell-time-month {
	color: #FFFFFF;	
	font-size: 1.2rem;	
	line-height: 1.2rem;
	margin: 13.5% 0 10.8% 0;
}

.each-cell-time-day {
	color: #FFFFFF;	
	font-size: 2.4rem;	
	padding: 10.86% 0;
	border-top: 1px solid #FFFFFF;
}

.each-cell-content {
	margin-left: 8%;
	width: 79.8%;
	display: flex;
	flex-direction: column;
}

.each-cell-content a, .news-title {
	color: #FFFFFF;	
	font-size: 1.6rem;	
	line-height: 1.6rem;
}

.each-cell-content a:hover {
	color: #FFCC00;;
}

.each-cell-content p, .news-content {
	color: #FFFFFF;	
	font-size: 1.4rem;	
	line-height: 2.0rem;
	margin-top: 3.15%;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
}

.each-cell-content p {
	margin-top: auto;
}

.news-left-bottom {
	height: 19.4%;	
	width: 48.5%;	
	background-color:rgba(0,0,0,0.5);
	position: absolute;
	bottom: 1px;
	left: 1px;
	overflow: hidden;
}

.news-title {
	margin: 3% 5.7%;
}

.news-content {
	margin: 0 5.7%;
}

.carousel-indicators li {
	width: 8px;
	height: 8px;
	background-color: white;
	border: 0px solid transparent;
}

.carousel-indicators .active {
	width: 8px;
	height: 8px;
	background-color: #FFCC00;
	margin: 1px;
}

.carousel-indicators {
	width: 45%;
	margin-left: 0;
	margin-right: 4.0%;
	text-align: right;
}

.news-more {
	text-align: right;
	color: white;
	font-size: 1.2rem;	
	line-height: 1.2rem;
	margin: 7.6% 9.1% 1.6% auto;
}

.news-div a:hover {
	color: #FFCC00;
}


