
/*=================================================================
		     UTRUST RESPOND CSS - All Rights Reserved.
==================================================================*/

/* WIDTH */
@media (max-width: 1800px){
	.navbar-brand{left: 15%;}
}

@media (max-width: 1680px){
	#detail  { width: 70%; margin: auto; padding-top: 10px;}
	#detail>h4 { clear: both; margin: 35px 0 50px; padding: 20px 0; border-bottom: #969696 solid 1px; line-height: 35px;}
	#detail .content .col-lg-6:first-child {/* padding-top: 30px;*/ padding-bottom: 20px;}
	#detail .content .col-lg-6,
	#detail .content .col-lg-6 p { width: 100%; font-size: 16px; line-height: 33px; font-weight: bold;}
	#detail .content .single-item .imgShow { background-position: center; }

	.navbar-brand{ position: fixed;}
	#hp .navbar-brand{ position:absolute;}
	.detail .Date { right: 0;}
	#detail .fb-share-button { position: absolute; right: 0; top: 80px; margin: 0;}
}

@media (max-width: 1668px){
	.navbar-brand{left: 40px; top: 20px;}
	nav .nav-tabs.nav-justified {  width: 100%;}
}
@media (max-width: 1535px){
	nav .nav-tabs.nav-justified {  width: 98%;}
}

@media (max-width: 1510px){
	nav .nav-tabs.nav-justified {  width: 95%;}
}

@media (max-width: 1440px){
	#hp #blog { padding-top: 45px;}
	#hp #course p { margin: 6% auto;}
	nav .nav-tabs.nav-justified {  width: 90%;}
}

@media (max-width: 1366px){
	#hp #blog { padding-top: 35px;}
	nav .nav-tabs.nav-justified {  width:88%;  }
}

/*768 height*/
@media ( max-height: 768px ){
    #hp #blog .row { width: 52%; margin: 2% auto 0;}
    #hp #blog .thumbnail { margin: 0;}
}

@media (max-width: 1209px){
	#hp #blog .row { margin: 5% auto 0;}
	nav .nav-tabs.nav-justified {  width:85%;  }
	#News_List ul li .Date { padding-left: 4%;}
}

@media (max-width: 1249px){
	.navbar-brand{top: 15%; position: absolute; z-index: 1; width: 150px; height: 150px; background-size: cover;}
	nav .nav-tabs.nav-justified { width: 100%; float: inherit; margin: 0; }
	.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse { max-height: 425px;}
	.nav-tabs.nav-justified>li>a { padding-right: 0; padding-left: 0;}
	/*.navbar-default .navbar-nav>li:hover {border-bottom: #fff solid 1px;}*/
	.navbar-inverse .container { width: 100%; padding: 0;}
	.container-fluid>.navbar-collapse,
	.container-fluid>.navbar-header,
	.container>.navbar-collapse,
	.container>.navbar-header {margin-left: inherit; margin-right: inherit;}
	.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
		overflow: auto;
		height: 100%;
	}
}


/*pc版本顶部导航栏适配*/
@media (min-width: 769px) {
	#phoneArrow,#phoneLogo,#phone-topright,.nav-wai-phone,#phone-inner,#phone-footer {
		display: none;
	}
	/*footer {*/
		/*height: 200px;*/
	/*}*/
}

@media (max-width: 920px) {
	.nav-ul {
		margin-left: 25px;
	}
	.nav-ul>li {
		margin-right: 25px;
	}
}



/*手机屏幕顶部导航栏适配*/
@media (max-width: 768px) {
	#pcArrow,#pcLogo,.nav-ul,#pc-footer,#indicators,#pc-inner,#pc-footer,#sx-video {
		display: none;
	}
	
	.nav-wai {
		height: 50px;
		max-width: 100%;
		padding: 0 0;
	}
	
	.nav-avatar {
		margin: auto 8px auto 0;
	}
	/*footer {*/
		/*height: 144px;*/
	/*}*/
	
	
}



@media (max-width: 1199px){
	/*#news .msgList_Date li .Title a { max-width: 400px;}*/
	#news .msgList_Date li { max-width: 465px;}
	#News_List ul li .Title, #News_List ul li .Note {width: 73%;}
	.gridArea { width: 100%;}
}
@media (max-width: 1046px){
	#hp footer.parallax-container iframe,
	.fb-comments, .fb-comments iframe[style] ,
	.fb_iframe_widget, .fb_iframe_widget span,
	.fb_iframe_widget span iframe[style],
	.uiScaledImageContainer,
	._2p3a { width: 100% !important;}
	footer .col-lg-7 { margin-bottom: 20px;	}
	#detail>h4 { margin-bottom: 20px;}

}

@media (max-width: 1150px){
	.navbar-brand{ width: 140px; height: 140px; background-size: cover;}
	#Slider .carousel-caption { text-align: center;}
}

@media (max-width: 1046px){
	#detail .content .col-lg-6:first-child {padding-top: 30px;}
	#detail .fb-share-button { float: inherit; position: inherit; right: inherit; top: inherit;}
}
@media (max-width: 1024px){
	/*#hp footer.parallax-container*/
	#blog.detail { width: 100%;}
	#detail  { width: 100%; margin: auto; padding-top: 10px;}
	#detail .content .row { margin-right: inherit; margin-left: inherit;}
}
@media (max-width: 1001px){
	#course .type ul li { margin-bottom: 25px;}
}

@media (max-width: 991px){
	section, .section {height: initial;}
	#hp footer.parallax-container { overflow: auto; height: initial;}
	#news {background:url("../images/img-news-2.jpg");}
	#news .channel>h2,#news .channel .moreBtn { color: #fff; background-position-x: -485px;}
	#news .msgList_Date li { max-width: inherit;}
	/*#news .msgList_Date li .Title a { max-width: 630px;}*/
	.moreBtn { right: 10px;}
	#hp #blog .row { width: 80%;}
	#News_msgList_Date .moreBtn em { right: 22px;}
	#hp #course .type a { margin-bottom: 25px}

	#news .channel { padding-left: 15px;}

	.media-carousel h3 { font-size: 20px;}
	.media-carousel span { font-size: 12px; }

	#hp #course p, #hp #course .describe { margin: 0 auto;}
	#hp #course .describe img { right: -25px; bottom: -40px;	}
	/*footer .container { width: 100%;}*/
	footer dd.half {float: inherit; margin-left: 50px;}

	#News_List { width: 100%;}
	#News_List ul li .Date { width: 15%; padding-left: 4%;}

	.gallery-items .col-sm-6:nth-child(2n + 3),
	.gallery-items .col-sm-4:nth-child(3n + 4),
	.gallery-items .col-sm-3:nth-child(4n + 5),
	.gallery-items .col-sm-2:nth-child(6n + 7),
	.gallery-items .col-sm-1:nth-child(12n + 13) { clear:both;}
	#video .col-lg-4:nth-child(3n + 4),
	#video .col-md-4:nth-child(3n + 4) { clear: inherit;}

	#Prj_ul .ListImgBlock li  { width: 33%;}
	.detail { width: 100% !important;}
}

/*895 height*/
@media ( max-height: 895px ){
    #hp #blog .row { width: 75%; margin: 0 auto;}
    #hp #blog .thumbnail { margin: 0; padding: 0;}
    #hp #course .describe img {bottom: 10px;}
}


@media (max-width: 871px){
	.nav-tabs.nav-justified>li>a { font-size: 16px;}
	.gallery-expander-contents > div.col { width: 42%;}
	.gallery-expander-contents > div.col + div.col { width: 50%;}
}


@media (max-width: 850px){
	.gallery-expander-contents > div.col { width: 42%;}
	.gallery-expander-contents > div.col + div.col { width: 48%; margin: 0; padding: 0 20px;}
}


@media (max-width: 796px){
	#NewsCp,.content .container { width: 100%;}
}

/* 1024 height */
@media ( max-height: 1024px ){
	#news .msgList_Date { margin: 0 0 60px;}
	/*#hp #news .row  { margin-top: 7%;}*/
}

@media ( max-width: 800px){
	.navbar-brand{ top: 100px;}
}

/* 960 height */
@media ( max-height: 960px ){ #hp .section .row { margin-top: 16%;} }
/* 855 height */
@media ( max-height: 855px ){ #hp #course p { margin: 10% auto; }}
/*840 height*/
@media ( max-height: 840px ){ #hp #blog .row { width: 70%;}}
/* 830 height */
@media ( max-height: 830px ){ #hp .section .row { margin-top: 10%;}}
/*820 height*/
@media ( max-height: 820px ){ #hp #blog .row { width: 55%;}}
/*765 height*/
@media ( max-height: 765px ){
	#hp #blog .row { width: 100%;}
	#blog {height: initial;}
}

@media (max-width: 768px){
	.navbar-brand{ left: 25px; top:120px; z-index: 1031;}
	#hp .navbar-brand{z-index:1029;}

}
@media (max-width: 767px){
	.navbar-inverse .container { padding-right: 10px; padding-left: 10px; }
	nav .nav-tabs.nav-justified { padding-bottom: 10px; }
	.nav-tabs.nav-justified>li {margin-bottom: 10px;}
	.nav-tabs.nav-justified>li>a {border: transparent solid 2px; font-size: 20px; font-family: "微軟正黑體",Arial;}
	nav .nav-tabs.nav-justified #nav-home { display: block;}
	.navbar-inverse .navbar-nav>.open>a,
	.navbar-inverse .navbar-nav>.open>a:focus,
	.navbar-inverse .navbar-nav>.open>a:hover,
	.navbar-inverse .navbar-nav>.active>a,
	.navbar-inverse .navbar-nav>.active>a:focus,
	.navbar-inverse .navbar-nav>.active>a:hover,
	#navbar ul li.active a, #navbar ul li a:hover { margin: 0; border: #fff solid 2px; background-color: #fff; color: #8e090f;font-weight: bold;}

	#navbar .dropdown-menu { border-radius: 0; padding: 0; margin-bottom: 15px;}
	#navbar .dropdown-menu li a { background-color: rgba(0, 0, 0, 0.38);  border-radius: 0; color: #fff; text-align: center;padding: 10px 0; font-size: 18px;}
	#navbar .dropdown-menu li+li { margin-top: -1px;}
	#navbar .dropdown-menu li a:hover {border:none; background-color: rgba(0, 0, 0, 0.38); color: #fff; font-weight: normal;}

	#hp #course .describe img { bottom: -35px;}
	#detail .content p { width: 100%;}


	.media-carousel h3 { font-size: 18px;}
	.media-carousel .carousel-inner .col-md-3 { margin-bottom: 20px;}
	.media-carousel .carousel-inner>.item.active,
	.media-carousel .carousel-inner>.item.next.left,
	.media-carousel .carousel-inner>.item.prev.right { min-height: 500px; height: inherit; }
	.media-carousel .carousel-control.left { left: -23px !important;}
	.media-carousel .carousel-control.right { right: -35px !important;}

	/*footer .container {width: 60%;}*/
	footer .nav-justified>li>a { width: 33%; float: left;}

	.content .single-item .imgShow { height: 300px;}

	.gallery-items .col-xs-12 { width: 50%;}
	.gallery-contents .thumbnail { width: 191px; height: 191px;}


	#blog .col-md-4:nth-child(3n + 4){ clear: inherit;}
	#blog .col-xs-6:nth-child(2n + 3),
	#blog .col-xs-4:nth-child(3n + 4),
	#blog .col-xs-3:nth-child(4n + 5),
	#blog .col-xs-2:nth-child(6n + 7),
	#blog .col-xs-1:nth-child(12n + 13) { clear:both;}
}

/*753 height*/
@media ( max-height: 753px ){
	#hp #course {height: initial;  padding-top: 15%; padding-bottom: 45px;}
	#hp #course .describe img { right: -30px;  bottom: -20px;}
	.media-carousel .carousel-inner .col-md-3 { margin-bottom: 20px;}
	.media-carousel .carousel-inner>.item.active,
	.media-carousel .carousel-inner>.item.next.left,
	.media-carousel .carousel-inner>.item.prev.right { height:inherit; min-height: 400px; }

	footer .col-lg-7 { margin-bottom: 25px;}
}

/*@media (max-width: 762px){ #news .msgList_Date li .Title a { max-width: 605px;}}
@media (max-width: 737px){ #news .msgList_Date li .Title a { max-width: 600px;}}
@media (max-width: 730px){ #news .msgList_Date li .Title a { max-width: 580px;}}
@media (max-width: 712px){ #news .msgList_Date li .Title a { max-width: 520px;}}
@media (max-width: 652px){ #news .msgList_Date li .Title a { max-width: 450px;}}
@media (max-width: 582px){ #news .msgList_Date li .Title a { max-width: 400px;}}
@media (max-width: 532px){ #news .msgList_Date li .Title a { max-width: 345px;}}
@media (max-width: 482px){ #news .msgList_Date li .Title a { max-width: 300px;}}*/

@media (max-width: 760px){
	/*footer .container {width: 80%;}*/
	.gallery-expander-contents > div.col { width: 38%;}
	.gallery-expander-contents > div.col + div.col { width: 45%; margin: 0; padding: 0 20px;}
}

@media (max-width: 750px){
	#News_List ul li .Title, #News_List ul li .Note { width: 70%;}
}

@media (max-width: 730px){
	.gallery-expander-contents > div.col { width:35%; padding: 10px;}
	.gallery-expander-contents > div.col + div.col { width: 40%; margin: 0; padding: 0 20px;}
}

@media (max-width: 716px){
	#News_List ul li .Date { padding-left: 3%;}
}

@media (max-width: 689px){
	.gallery-expander-contents > div.col { width:73%; padding: 10px; }
	.gallery-expander-contents > div.col + div.col { width: 73%;}
	.gallery-expander-contents div.close { right: 13px;}
	.gallery-expander-contents { padding: 55px 0 35px;}

	#blog .fb-share-button { position: absolute;}
	.embed-responsive-16by9 { margin-top: 55px;}
}

@media (max-width: 688px){
	.gallery-expander-contents div.motto span {display: block; float: inherit; text-align: right;}
	.gallery-expander-contents div.motto { font-family: inherit; font-size: inherit;}
}


@media (max-width: 685px){
	#hp #about { padding-top: 18%;}

}
@media (max-width: 665px){
	#News_List ul li .Title, #News_List ul li .Note { width: 68%;}
	.detail p img { width: 100%;}
	#blog.detail .content p img { width: 100% !important;}
	#news .msgList_Date li .Title { display: table-cell;}
}

@media (max-width: 630px){
	.navbar-brand{ left: 15px; top: 15px; width: 90px; height: 90px; z-index: 1031;position: fixed; display: none;}
	.mobile.navbar-brand {display: block;}
	#hp .navbar-brand{z-index:1030; position: fixed; display: block;}
	.mainContent { padding-top: 0;}
	.content { margin-top: 15px;}
	.mainContent>h3 { margin-top: 75px; border:none; }
	#hp #blog .row { width: 100%; }
	/*footer .container {width: 100%;}*/

	#Prj_ul .ListImgBlock li  { width: 50%;}


	.gallery-expander-contents > div.col { width:72%; }
	.gallery-expander-contents > div.col + div.col { width: 72%;}

	.breadcrumb { text-align: center;}

}

@media (max-width: 625px){
	#News_List ul li .Date {padding-left: 10px;}
	.gallery-expander-contents > div.col { width:71%;}
	.gallery-expander-contents > div.col + div.col { width: 65%;}
}

/* 620 height */
@media ( max-height: 620px ){
    #hp .section .row { margin-top: 4%;}
    section, .section { height: initial; overflow: hidden;}
    #about p { margin: 25px auto; line-height: 30px;}
}


@media (max-width: 625px){
	#News_List ul li .Title, #News_List ul li .Note { width: 64%;}
	#News_List ul li .Date { width: 17%;}
}

/* 570 height  */
@media ( max-height: 570px ){
    #hp .section .row { margin-top: 0;}
    .gallery-expander-contents > div.col { width:64%; }

}
@media (max-width: 560px){
	.gallery-expander-contents > div.col { width:60%; }
	.gallery-expander-contents > div.col + div.col { width: 60%;}
	
}

@media (max-width: 550px){
	#hp footer.parallax-container iframe,
	.fb-comments, .fb-comments iframe[style] ,
	.fb_iframe_widget, .fb_iframe_widget span,
	.fb_iframe_widget span iframe[style],
	.uiScaledImageContainer,
	._2p3a { width: inherit !important;}
}

/*540 height*/
@media ( max-height: 540px ){
	#hp section,#hp .section,
	#hp .parallax-container  { height: initial; overflow: hidden;}
}


@media (max-width: 535px){
	footer iframe {	width: 100% !important;}
}

@media (max-width: 520px){
	.gallery-expander-contents > div.col { width:55%; }
	.gallery-expander-contents > div.col + div.col { width:55%;}

	#course .col-xs-6,
	#video .col-xs-6 ,
	#blog .col-xs-6 { width: 100%;}
}

@media ( max-width: 510px ){
	#News_List ul li .Title, #News_List ul li .Note { width: 60%;}
	#News_List ul li .Date {width: 18%;}
}

@media (max-width: 495px){
	#hp #course .type a {padding: 10px 15px; letter-spacing: 0;}
	#hp #course .type a span {letter-spacing: 0;}
}

@media (max-width: 490px){
	#hp #about { padding-top: 15%;}
	#News_List ul li .Title, #News_List ul li .Note { width: 54%;}
	#News_List ul li .Date { width: 22%;}

	#NewsCp { width: 100%;}
	#NewsCp h4 {line-height: 35px;}
	.content p { line-height: 24px;}


}

@media (max-width: 480px){
	.gallery-expander-contents > div.col { width:50%; }
	.gallery-expander-contents > div.col + div.col { width:50%;}
}

@media (max-width: 460px){
	#Prj_ul .ListImgBlock li  { width: 100%;}
	.gallery-items .col-xs-12 { width: 100%;}
	.gallery-expander-contents > div.col { width:49%; }

}

@media (max-width: 435px){
	.gallery-expander-contents > div.col ,
	.gallery-expander-contents > div.col + div.col { width:48%;}

}


/* smart phone */
@media (max-width: 414px){
	#News_List ul li .Date { padding: 0; font-size: 0.7em; }
	#News_List ul li label { float: right; margin: 0;}
	#News_List ul li { min-height: 100px;}
	#News_List ul li .Title, #News_List ul li .Note {width: 100%; overflow: inherit; text-overflow: inherit; white-space: inherit;
    line-height: 22px; }
	#news .msgList_Date li { position: relative;}
	#news .msgList_Date li .Date { padding: 5px 0; float: inherit;}
	#news .msgList_Date li .Title a span { display: inline-block; position: absolute; right: 0; top: 0; padding: 0 6px;}
	#news .msgList_Date li a { margin: 10px 0px; padding: 2px 0;}
	.navbar-brand {position: fixed;z-index:9999;}
	/*.breadcrumb {
	text-align: center;
    font-size: 18px;
    margin: 0;
    background: rgba(0, 0, 0, 0.55);
    width: 100%;
    position: absolute;
    margin-left: -15px;
    border-radius: 0;
    color: #fff;
    padding: 12px 0;
    margin-top: -45px;
	}
	.breadcrumb>li>a { color: #777;}
	.breadcrumb>.active { color: #fff;}
	.breadcrumb>li>a { color: #fff;}
	.content { margin: 80px 0;}
	*/
	#NewsCp { padding-top:0; }
	#NewsCp .Date { margin-top: -40px;}
	.BtnGroup a.BtnBack { margin-top: -30px;}
	#NewsCp h4 { line-height: 30px; padding-bottom: 10px; font-size: 23px;}
    #NewsCp h3 {font-size: 18px; line-height: 25px;}
    #NewsCp p {font-size: 16px;}
	.breadcrumb { text-align: center;}
	.mainContent > .content {margin-top: 0;}
	.navbar-brand { width: 80px; height: 80px;}

	.detail { width: 100% !important;}
	.detail .content { padding-top: 15px;}
	.content ul { text-align: center;}
	.mainContent>h3 { border: none;}
	.mainContent { padding-top:0;/*180px*/}
	.mainContent .content {margin-top: 20px;}
	.content p:first-child { margin-top: 0;}

	#blog {padding-top: 0;}
	#blog.detail .content p,.content p,.content ul li,#detail .content .col-lg-6 p{ font-weight: normal; line-height: 25px;font-weight: normal;text-align: left;}
	#blog.detail,#detail {padding-top: 25px;}
	#blog.detail>h4 ,#detail>h4{ margin-top: 0; line-height: 30px; padding-bottom: 10px; font-size: 23px; }
	#blog.detail .Date { margin-top: -30px; top: 0;}

	#detail .Date {margin-top: -30px; top: 0; right: 0;}
	#detail ul {margin:0 15px 0 35px;}
	#detail .col-lg-6 { padding:0; }
	#detail .col-lg-6 ul.profile {margin: 0;}
	#detail ul.profile li { list-style: disc; line-height: 35px;border: none;  padding-left: 0; margin-left: 20px;}
	/*#detail .content ul li { list-style: disc; margin-bottom: 10px;}*/
	#detail .col-lg-6 ul { margin: 0; margin-left: 25px;}
	#detail .col-lg-6 ul li {list-style: disc;line-height: 35px;}
	.content ul { margin-top: 0;}
	.content ul li {list-style: disc;}
	#course .col-md-4 { padding:0; }

	#Slider .carousel-caption h2 { padding: 14px 20px; font-size: 15px;}
	#about p { width: 83%; margin: 35px auto; padding: 0; line-height: 30px;}
	#News_msgList_Date .moreBtn em { top: 10px;}
	.moreBtn {top: 5px;}
	.carousel-control .icon-next, .carousel-control .icon-prev {}

	#Prj_ul .ListImgBlock .Pic,
	#Prj_ul .ListImgBlock .Title { text-align: center;}
	#Prj_ul .ListImgBlock .Note { text-align: center; margin-top: 5px;}
	#detail ul.slick-dots { margin: auto;}

	.gallery-expander-contents > div.col ,
	.gallery-expander-contents > div.col + div.col { width:45%;}

	.btnMb.fb_iframe_widget_fluid,
	.btnMb .fb_iframe_widget_fluid span {position: absolute; right: 0; margin-top: -12px;}
	.list .more { right:0;}
}
@media (max-width: 390px){
	.gallery-expander-contents > div.col ,
	.gallery-expander-contents > div.col + div.col { width:40%;}
}

@media (max-width: 360px){
	#Slider .carousel-caption h2 {padding: 15px 20px;}

	#news .msgList_Date { margin: 15px 0 50px;}
	/*#news .msgList_Date li a { max-width: 255px;}*/
	#news .msgList_Date li .Title a {max-width: 230px;}
	#news .msgList_Date li .Title a span {margin: 0 10px 0 0;}

	#hp #course .type a { height: 65px; padding: 20px 15px;}
	#hp #course .type a span {margin-top: -8px; display: block;}
	#hp #course .describe img { right: -4px; bottom: -10px;}

	#hp #artist { padding-top: 15%;}
	.media-carousel { padding: 0; margin-top: 35px;}
	.media-carousel .carousel-inner>.item.active,
	.media-carousel .carousel-inner>.item.next.left,
	.media-carousel .carousel-inner>.item.prev.right { height: 400px; }
	.media-carousel .carousel-control.left { left: -23px !important;}
	.media-carousel .carousel-control.right { right: -45px !important;}

	.navbar-brand { width: 70px; height: 70px;}

	/*#News_List ul li { position: relative;  min-height: 75px;}
	#News_List ul li .Title, #News_List ul li .Note { width:78%;}
	#News_List ul li label { margin-left: 5px;font-size: 1em;}
	#News_List ul li .Date { width: 25%; position: absolute; right: 10px; bottom: 0;}*/
	footer .logo { width: 100%; }

	#NewsCp .content p,.content p,
	#News_List ul li .Title a {font-size: 1.2em; margin: 2em  0;}
}

@media (max-width: 360px){
	.gallery-expander-contents > div.col ,
	.gallery-expander-contents > div.col + div.col { width:38%;}
}
@media (max-width: 330px){
	.gallery-expander-contents > div.col ,
	.gallery-expander-contents > div.col + div.col { width:35%;}
}

@media (max-width: 320px){
	#Slider .carousel-caption h2 {font-size: 15px; padding: 12px; line-height: 20px; width: 240px;}
		/*.mainContent { padding-top: 190px;}*/


}











