
/*=================================================================
		     UTRUST CSS - All Rights Reserved.
==================================================================*/

/*-------------------------------------
*               $BASE
*------------------------------------*/

/*-------------------------------------
*         $REPLACE BOOTSTRAP
*------------------------------------*/

/*-------------------------------------
*               $HEADER
*------------------------------------*/

.navbar-inverse {
    background-color: rgba(0,0,0,0.9);
    border-color: transparent;
}

.nav-brand {
    background: url("../images/logo.png") no-repeat;
    background-size: contain;
    width: 130px;
    height: 44px;
    margin: auto 0;
}

.nav-menu {
    height: 50px;
    padding: 0 14px;
    z-index: 1031;
    background-color: transparent;
    cursor: pointer;
}

.nav-menu-wrapper {
    position: relative;
    width: 23px;
    height: 18px;
    margin: 15px 0;
}

.nav-menu span {
    display: inline-block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    border-radius: 1px;
    -webkit-transition: top 0.3s cubic-bezier(0.47, 0, 0.745, 0.715),bottom 0.3s cubic-bezier(0.47, 0, 0.745, 0.715),-webkit-transform 0.3s cubic-bezier(0.47, 0, 0.745, 0.715);
    transition: top 0.3s cubic-bezier(0.47, 0, 0.745, 0.715),bottom 0.3s cubic-bezier(0.47, 0, 0.745, 0.715),-webkit-transform 0.3s cubic-bezier(0.47, 0, 0.745, 0.715);
    transition: top 0.3s cubic-bezier(0.47, 0, 0.745, 0.715),bottom 0.3s cubic-bezier(0.47, 0, 0.745, 0.715),transform 0.3s cubic-bezier(0.47, 0, 0.745, 0.715);
    transition: top 0.3s cubic-bezier(0.47, 0, 0.745, 0.715),bottom 0.3s cubic-bezier(0.47, 0, 0.745, 0.715),transform 0.3s cubic-bezier(0.47, 0, 0.745, 0.715),-webkit-transform 0.3s cubic-bezier(0.47, 0, 0.745, 0.715)
}

.nav-menu span:nth-of-type(1) {
    top: 0
}

.nav-menu span:nth-of-type(2) {
    top: 8px
}

.nav-menu span:nth-of-type(3) {
    bottom: 0
}

.nav-menu[data-is-active="true"] span:nth-of-type(1) {
    -webkit-transform: translateY(9px) rotate(45deg);
    -ms-transform: translateY(9px) rotate(45deg);
    transform: translateY(9px) rotate(45deg);
}

.nav-menu[data-is-active="true"] span:nth-of-type(2) {
    opacity: 0
}

.nav-menu[data-is-active="true"] span:nth-of-type(3) {
    -webkit-transform: translateY(-6.8px) rotate(-45deg);
    -ms-transform: translateY(-6.8px) rotate(-45deg);
    transform: translateY(-6.8px) rotate(-45deg)
}

a, a:hover, a:active, a:visited { text-decoration: none; } 

.nav-brand-phone {
    background: url("../images/phone_logo.png") no-repeat;
    background-size: contain;
    width: 43px;
    height: 40px;
    margin: auto auto;
}

.nav-phone-user {
	width: 20px;
	height: 20px;
	border-radius: 10px;
	margin: auto 15px auto 0;
}

.nav-wai {
    background-color: transparent;
    height: 5.5%;
    display: flex;
    width: 100%;
}

.nav-wai-phone {
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.95);
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 50;
	flex-direction: column;
	overflow: hidden;
	opacity: 0;
}

.nav-wai-phone[data-is-active="first"] {
	display: none;
}

.nav-wai-phone[data-is-active="true"],.nav-wai-phone[data-is-active="true"]>a,.nav-phone-ul[data-is-active="true"] li,#phone-sign[data-is-active="true"]>a {
	animation:pushnav 0.8s 1 forwards ease-in-out;
	-webkit-animation:pushnav 0.8s 1 forwards ease-in-out; /*Safari and Chrome*/
}

.nav-wai-phone[data-is-active="false"],.nav-wai-phone[data-is-active="false"]>a,.nav-phone-ul[data-is-active="false"] li,#phone-sign[data-is-active="false"]>a {
	animation:pullnav 0.8s 1 ease-in-out;
	-webkit-animation:pullnav 0.8s 1 ease-in-out; /*Safari and Chrome*/
}

.nav-phone-ul[data-is-active="true"] li:nth-of-type(2){
	-webkit-animation-delay: 0.2s; /* Safari 4.0 - 8.0 */
    animation-delay: 0.2s;
}

.nav-phone-ul[data-is-active="true"] li:nth-of-type(3){
	-webkit-animation-delay: 0.4s; /* Safari 4.0 - 8.0 */
    animation-delay: 0.4s;
}

.nav-phone-ul[data-is-active="true"] li:nth-of-type(4){
	-webkit-animation-delay: 0.6s; /* Safari 4.0 - 8.0 */
    animation-delay: 0.6s;
}

.nav-phone-ul[data-is-active="true"] li:nth-of-type(5){
	-webkit-animation-delay: 0.8s; /* Safari 4.0 - 8.0 */
    animation-delay: 0.8s;
}

.nav-phone-ul[data-is-active="true"] li:nth-of-type(6){
	-webkit-animation-delay: 1.0s; /* Safari 4.0 - 8.0 */
    animation-delay: 1.0s;
}

.nav-wai-phone[data-is-active="true"]>a,#phone-sign[data-is-active="true"]>a{
	-webkit-animation-delay: 1.2s; /* Safari 4.0 - 8.0 */
    animation-delay: 1.2s;
}


@keyframes pushnav
{
	from {
		-ms-transform: translateX(-22px); /* IE 9 */
	    -webkit-transform: translateX(-22px); /* Chrome, Safari, Opera */
	    transform: translateX(-22px);
		opacity: 0;
	}
	to {
		-ms-transform: translateX(0); /* IE 9 */
	    -webkit-transform: translateX(0); /* Chrome, Safari, Opera */
	    transform: translateX(0);
	    opacity: 1;
	}
}

@-webkit-keyframes pushnav /*Safari and Chrome*/
{
	from {
		-ms-transform: translateX(-22px); /* IE 9 */
	    -webkit-transform: translateX(-22px); /* Chrome, Safari, Opera */
	    transform: translateX(-22px);
		opacity: 0;
	}
	to {
		-ms-transform: translateX(0); /* IE 9 */
	    -webkit-transform: translateX(0); /* Chrome, Safari, Opera */
	    transform: translateX(0);
	    opacity: 1;
	}
}

@keyframes pullnav
{
	from {
		-ms-transform: translateX(0); /* IE 9 */
	    -webkit-transform: translateX(0); /* Chrome, Safari, Opera */
	    transform: translateX(0);
	    opacity: 1;
	}
	to {
		-ms-transform: translateX(22px); /* IE 9 */
	    -webkit-transform: translateX(22px); /* Chrome, Safari, Opera */
	    transform: translateX(22px);
	    opacity: 0;
	}
}

@-webkit-keyframes pullnav /*Safari and Chrome*/
{
	from {
		-ms-transform: translateX(0); /* IE 9 */
	    -webkit-transform: translateX(0); /* Chrome, Safari, Opera */
	    transform: translateX(0);
	    opacity: 1;
	    display: flex;
	}
	to {
		-ms-transform: translateX(22px); /* IE 9 */
	    -webkit-transform: translateX(22px); /* Chrome, Safari, Opera */
	    transform: translateX(22px);
	    opacity: 0;
	    display: none;
	}
}

.nav-wai-phone-close {
	width: 26px;
	height: 26px;
	position: absolute;
	right: 16px;
	top: 26px;
}

.phone-signup {
	margin: auto 52px auto 52px;
	border: 1px solid #FFFFFF;
	border-radius: 100px;
	height: 34px;
	color: #FFFFFF;
	font-size: 18px;
	font-weight: 300;
	line-height: 25px;
	text-align: center;
	padding-top: 5px;
	opacity: 0;
}

.nav-phone-ul {
	margin: 70px auto 0 auto;
	width: 100%;
}

.nav-phone-dlzc {
	margin: 80px 37px 0 37px;
	display: flex;
	height: 34px;
}

.nav-phone-dlzc a {
	border: 1px solid #FFFFFF;
	border-radius: 100px;
	height: 34px;
	color: #FFFFFF;
	font-size: 18px;
	font-weight: 300;
	line-height: 25px;
	text-align: center;
	padding-top: 5px;
	margin: 0 15px;
	flex-grow: 1;
	cursor: pointer;
	opacity: 0;
}

.nav-phone-dlzc a:hover,.nav-wai-phone>a:hover {
	background-color: #66BBFF;
	border-color: #66BBFF;
	color: white;
}

.nav-phone-ul li {
	list-style: none; /* 将默认的列表符号去掉 */
    padding: 0; /* 将默认的内边距去掉 */
    margin: 22px auto 0 auto;
    width: 100%;
    text-align: center;
	opacity: 0;
}
.nav-phone-ul li a {
	color: #FFFFFF;
	font-size: 18px;
	font-weight: 300;
	line-height: 28px;
	text-align: center;
	border-bottom: 1px solid transparent;
}

.nav-phone-ul li a:hover {
	border-bottom: 1px solid #66bbff;
	color: #66BBFF;
}

.nav-ul {
    margin: 0 auto 0 50px;
    display: flex;
    justify-content: center;
    align-self: center;
}

.nav-ul, .nav-login, .nav-ul li {
    list-style: none; /* 将默认的列表符号去掉 */
    padding: 0; /* 将默认的内边距去掉 */
    position: relative;
}

.nav-login {
	display: none;
}

.nav-ul > li {
    margin: auto 50px auto 0;
    float: left;
    border-radius: 0;
}

.nav-ul>li a {
	padding-bottom: 5px;
	display:block;
	color:#fff;
	font-size: 14px;
	line-height: 20px;
	font-weight: 300;
	border-radius: 0;
	position: relative;
}

#phoneAbout {
	border-bottom: 2px solid white;
}

.nav-ul>li a:hover:after,
.nav-login>li a:hover:after,
.index-news-more a:hover:after,
.sx-consulting-more-div a:hover:after,
.sx-labs-more-div a:hover:after,
.news-more a:hover:after,
.videos-more a:hover:after,
.hp-left-div a:hover:after{
	-webkit-transform-origin: bottom left;
    -ms-transform-origin: bottom left;
    transform-origin: bottom left;
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);

}

.nav-ul>li a:after,
.nav-login>li a:after,
.index-news-more a:after,
.sx-consulting-more-div a:after,
.sx-labs-more-div a:after,
.news-more a:after,
.videos-more a:after,
.hp-left-div a:after {
	border-bottom: 2px solid white;
	content: '';
    display: block;
    position: absolute;
	width: 100%;
    bottom: 0;
    left: 0;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: bottom right;
    -ms-transform-origin: bottom right;
    transform-origin: bottom right;
    -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53);
    transition: -webkit-transform 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53);
    transition: transform 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53);
    transition: transform 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53), -webkit-transform 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53)
}

.index-news-more a:after,
.sx-consulting-more-div a:after,
.sx-labs-more-div a:after,
.news-more a:after,
.videos-more a:after,
.hp-left-div a:after {
	border-bottom: 1px solid rgb(102,187,245);
}


.nav-login {
    margin: 0 0 0 auto;
}

.nav-login > li {
    margin: auto 0 auto 15px;
    float: left;
    border-radius: 0;
    position: relative;
}

.nav-login > li a {
    display: block;
    color: #fff;
    text-decoration: none;
    border-radius: 0;
}

.arrow {

	position: absolute;
	bottom: 90px;
	left: 0;
	right: 0;
	margin: auto;
	text-align: center;
	z-index: 10;
	width: 22px;
	-webkit-animation: arrowScroll 1.5s infinite;
    animation: arrowScroll 1.5s infinite;
}

@-webkit-keyframes arrowScroll {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 0
    }

    50% {
        opacity: 1
    }

    100% {
        -webkit-transform: translateY(0.5rem);
        transform: translateY(0.5rem);
        opacity: 0
    }
}

@keyframes arrowScroll {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 0
    }

    50% {
        opacity: 1
    }

    100% {
        -webkit-transform: translateY(0.5rem);
        transform: translateY(0.5rem);
        opacity: 0
    }
}

.top-arrow {
    position: fixed;
    bottom: 30px;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    z-index: 101;
    width: 40px;
    height: 40px;
    display: none;
}

.nav-tip {
    width: 2px;
    height: 14px;
    background-color: white;
}

.nav-avatar {
	background-image:url(../images/phone-banner-user.png);
	background-size:contain;
	width: 35px;
	height: 35px;
	border-radius: 18px;
	margin: auto 0;	
	display: none;
}

/*-------------------------------------
*               $FOOTER
*------------------------------------*/
footer {
    width: 100%;
    background-color: #1A1C21;
    display: flex;
}
.footer-container {
    /*margin: 0 107px 75px 107px;*/
    margin: 0 5.3% 3.7% 5.3%;
    width: 100%;
}
.footer-container > hr {
    margin: 0;
    border-top: 1px dashed #363942;
    height: 1px;
}
.footer-content {
    /*margin: 77px 69px 0 69px;*/
    margin: 3.8% 3.5% 0 3.5%;
    display: flex;
    justify-content: space-between;
}
.footer-info {
    width: 30%;
    font-size: 1.4rem;
    line-height: 200%;
    color: #CCCCCC;
}
.footer-link {
    width: 30%;
    font-size: 1.4rem;
    line-height: 200%;
    color: #CCCCCC;
}
.footer-link a:link { 
    font-size: 1.4rem;
    color: #CCCCCC;
    text-decoration: none;
}
.footer-link a:visited { 
    font-size: 1.4rem;
    color: #CCCCCC;
    text-decoration: none;
}
.footer-link a:hover {
    font-size: 1.4rem;
    color: #CCCCCC;
    text-decoration: underline;
}
.footer-qr {
    width: 30%;
}
.footer-qr > img {
    width: 45%;
}
.footer-qr > img:last-child {
    float: right;
}
