<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>常用指令：v-model</title>
	<script src="js/vue.js"></script>
	<script>
		window.onload=function(){
			new Vue({
				 el:'.itany',
//				el:'div', //vue2.0中不允许将vue实例挂载到<html>或<body>元素，在vue1.0中是可以的
				data:{
					privat: {
				      folders : [{
				          checks : [
				            { name : 'check1.1' },
				            { name : 'check1.2' }
				          ]
				        },
				        {
				          checks : [
				            { name : 'check2.1' },
				            { name : 'check2.2' }
				          ]
				        }
				      ]
				    }
				},
				methods:{
					
				},
			});
		}
	</script>
</head>
<body>
	<!-- <div id="itany"> -->
	 <div class="itany"> 
	<!--<div>-->
		<div v-for="folder in privat.folders">
		  {{folder.name}}
		      <div v-for="check in folder.checks">
		          {{check.name}}
		      </div>
		  </div>
	</div>
</body>
</html>