<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="zh-CN" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="zh-CN" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="zh-CN" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="zh-CN" class="no-js" id="hp"> <!--<![endif]-->
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1"/>
    <meta name="author" content="wangyali"/>
    <meta name="keywords" content="和和影业"> <!-- 关键词，搜索什么能看到 -->
    <meta name="description" content="和和影业"/> <!-- 内容描述 -->
    <meta name="theme-color" content="#861519">
    <meta name="msapplication-navbutton-color" content="#861519">
    <meta name="apple-mobile-web-app-status-bar-style" content="#861519">


    <title>和和影业</title>

    <!--CSS-->
    <link rel="stylesheet" href="../../static/hehe/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../static/hehe/css/reset.css"/>
    <link rel="stylesheet" href="../../static/hehe/css/style.css"/>
    <link rel="stylesheet" href="../../static/hehe/css/index.css"/>
    <link rel="shortcut icon" href="../../static/hehe/images/icon.png"/>

    <link rel="stylesheet" href="../../static/hehe/css/videojs.css">
    <link rel="stylesheet" href="../../static/hehe/css/videojs-theme.css"/>
    <!-- If you'd like to support IE8 -->
    <script src="../../static/hehe/js/videojs-ie8.min.js"></script>
</head>
<body class="index-bg">
<!--<div class="loading">
    <img src="../../static/hehe/images/loading.png"/>
</div>-->
<!-- Navigation -->
<div id="my-nav">
	<my-nav></my-nav>
</div>

<a id="slider-the"></a>
<div id="jssor_1" style="position:relative;margin:0 auto;top:0px;left:0px;width:1920px;height:930px;overflow:hidden;visibility:hidden;background-color: #1a1c21;">
 
    <div data-u="slides" style="cursor:default;position:relative;top:0px;left:0px;width:1920px;height:930px;overflow:hidden;">
        <div>
            <img data-u="image" src="../../static/hehe/images/example1.jpg" />
            <div class="banner-title-div">
                <a class="banner-title">西游2伏妖篇 <span>[ 徐克导演&周星驰监制 ]</span></a>
                <p class="banner-content">就是开不了口让她知道,我一定会呵护着你也逗你笑,你对我有多重要我后悔没让你知道,安静的听你撒娇知道就是那么简单几句我办不到</p>
                <div class="banner-more">
               		<p>更多 >></p>
                </div>
            </div>
        </div>
        <div>
            <img data-u="image" src="../../static/hehe/images/example2.jpg" />
            <div class="banner-title-div">
            	
                <a class="banner-title">西游2伏妖篇 <span>[ 徐克导演\&周星驰监制 ]</span></a>
                <p class="banner-content">就是开不了口让她知道,我一定会呵护着你也逗你笑,你对我有多重要我后悔没让你知道,安静的听你撒娇知道就是那么简单几句我办不到</p>
            	<div class="banner-more">
	               	<p>更多 >></p>
	            </div>
            </div>
        </div>
        <div>
            <img data-u="image" src="../../static/hehe/images/example3.jpg" />
            <div class="banner-title-div">
           		<a class="banner-title">西游2伏妖篇 <span>[ 徐克导演&周星驰监制 ]</span></a>
                <p class="banner-content">就是开不了口让她知道,我一定会呵护着你也逗你笑,你对我有多重要我后悔没让你知道,安静的听你撒娇知道就是那么简单几句我办不到</p>
                <div class="banner-more">
               		<p>更多 >></p>
                </div>
            </div>
        </div>
    </div>
    <!-- Bullet Navigator -->
    <div data-u="navigator" class="jssorb031" style="position:absolute;right:12px;" data-autocenter="2" data-scale="0.5" data-scale-right="0.75">
        <div data-u="prototype" class="i" style="width:12px;height:12px;">
            <svg viewbox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
                <circle class="b" cx="8000" cy="8000" r="5800"></circle>
            </svg>
        </div>
    </div>
</div><!--Slider END-->


<div class="fs-video-container" style="display:none;" onclick="hideVideo()">
    <!-- <video class="fs-video-player" src="http://qnp.shanxiaxuetang.com/about.mp4" preload
    " controls="controls"
    onclick="pauseVideo()"></video> -->
    <div class="fs-video-player" onclick="stopBubble()">
        <video id="fs-videojs-player" class="video-js vjs-fluid" controls preload="auto"
               data-setup="{}">
            <source src="http://qnp.shanxiaxuetang.com/about.mp4" type='video/mp4'>
            <p class="vjs-no-js">
                要收看此视频，请开启JavaScript功能，或者升级您的浏览器至
                <a href="http://videojs.com/html5-video-support/">支持HTML5视频标签的浏览器</a>
            </p>
        </video>
    </div>
    <img class="fs-video-close" src="../../static/hehe/images/close.png">
</div>

<!--hh video 影视作品-->
<div class="hh-video">

    <div class="video-top">
        <div class="video-line-left"></div>
        <div class="hh-video-title">影视作品</div>
        <div class="video-line-right"></div>
    </div>

    <div class="video-content">
        <div class="video-content-left">
            <img class="arrow-left" src="../../static/hehe/images/arrow-left-hh.png">
        </div>
        <div class="video-content-center row">
            <li class="sx-school-img-div col-md-3 col-sm-4 col-xs-6">
                <div class="index-course-item-img">
                    <img id="jlp" src="http://qnp.shanxiaxuetang.com/index-course-1.jpg">
                    <div class="index-course-item-shadow">
                    </div>
                </div>
            </li>
            <li class="sx-school-img-div col-md-3 col-sm-4 col-xs-6">
                <div class="index-course-item-img">
                    <img id="jlp" src="http://qnp.shanxiaxuetang.com/index-course-1.jpg">
                    <div class="index-course-item-shadow">
                    </div>
                </div>
            </li>
            <li class="sx-school-img-div col-md-3 col-sm-4 col-xs-6">
                <div class="index-course-item-img">
                    <img id="jlp" src="http://qnp.shanxiaxuetang.com/index-course-1.jpg">
                    <div class="index-course-item-shadow">
                    </div>
                </div>
            </li>
            <li class="sx-school-img-div col-md-3 col-sm-4 col-xs-6">
                <div class="index-course-item-img">
                    <img id="jlp" src="http://qnp.shanxiaxuetang.com/index-course-1.jpg">
                    <div class="index-course-item-shadow">
                    </div>
                </div>
            </li>
            <li class="sx-school-img-div col-md-3 col-sm-4 col-xs-6">
                <div class="index-course-item-img">
                    <img id="jlp" src="http://qnp.shanxiaxuetang.com/index-course-1.jpg">
                    <div class="index-course-item-shadow">
                    </div>
                </div>
            </li>


        </div>
        <div class="video-content-right">
            <img class="arrow-right" src="../../static/hehe/images/arrow-right-hh.png">
        </div>
    </div>

</div>

<!-- 合作伙伴-->
<div class="hh-partners">
    <div class="video-top">
        <div class="video-line-left"></div>
        <div class="hh-video-title">合作伙伴</div>
        <div class="video-line-right"></div>
    </div>
    <div class="partners-icon-div">
        <img class="partners-icon-left" src="../../static/hehe/images/icon-albb.png">
        <img class="partners-icon" src="../../static/hehe/images/icon-2.png">
        <img class="partners-icon" src="../../static/hehe/images/icon-3.png">
        <img class="partners-icon" src="../../static/hehe/images/icon-4.png">
        <img class="partners-icon" src="../../static/hehe/images/icon-5.png">
        <img class="partners-icon" src="../../static/hehe/images/icon-6.png">
        <img class="partners-icon-right" src="../../static/hehe/images/icon-7.png">

    </div>
</div>

<!-- Footer -->
<div id="my-footer">
    <my-footer></my-footer>
</div>


<!--JS-->
<script type="text/javascript" src="../../static/hehe/js/vue.js"></script>
<script type="text/javascript" src="../../static/hehe/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="../../static/hehe/js/jssor.slider.min.js" ></script>
<script type="text/javascript" src="../../static/hehe/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../static/hehe/js/nav.js"></script>
<script type="text/javascript" src="../../static/hehe/js/banner.js"></script>
<script type="text/javascript" src="../../static/hehe/js/videojs.min.js"></script>

<script>

 //    window.onload=function(){
 //        // $(".loading").fadeOut(400,function() {
 //            $(".loading").hide();
 //            setTimeout(function () {
 //                $('#Slider').carousel({
	//                 interval: 2000
	//             })
	//             loadingEnd();
 //            }, 200);
            
 //        // });
 //    }
 //    var oldId = 'phoneAbout';

 //    function showVideo(event) {
 //        $(".fs-video-container").show();
 //        stopBanner();
 //        openMask();
 //        var videoPlayer = videojs('fs-videojs-player');
 //        videoPlayer.play();
 //    }
    
	// var height = $(window).height();
	
 //    function hideVideo(event) {
 //        $(".fs-video-container").hide();
 //        var t = document.documentElement.scrollTop || document.body.scrollTop;
 //        if (t < height) {
 //        		resumeBanner();
 //        }
 //        closeMask();
 //        var videoPlayer = videojs('fs-videojs-player');
 //        videoPlayer.pause();
 //        videoPlayer.currentTime(0);
 //    }

    
 //    window.onscroll = function () {
 //        var t = document.documentElement.scrollTop || document.body.scrollTop;
 //        if (t >= height) {
 //            stopBanner();
 //        } else {
 //            resumeBanner();
 //        }
 //    }

</script>


</body>
</html>
