<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="zh-CN" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="zh-CN" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="zh-CN" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="zh-CN" class="no-js" id="hp"> <!--<![endif]-->
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1"/>
    <meta name="author" content="wangyali"/>
    <meta name="keywords" content="和和影业"> <!-- 关键词，搜索什么能看到 -->
    <meta name="description" content="和和影业"/> <!-- 内容描述 -->
    <meta name="theme-color" content="#861519">
    <meta name="msapplication-navbutton-color" content="#861519">
    <meta name="apple-mobile-web-app-status-bar-style" content="#861519">


    <title>和和影业</title>

    <!--CSS-->
    <link rel="stylesheet" href="../../static/hehe/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../static/hehe/css/reset.css"/>
    <link rel="stylesheet" href="../../static/hehe/css/style.css"/>
    <link rel="stylesheet" href="../../static/hehe/css/index.css"/>
    <link rel="shortcut icon" href="../../static/hehe/images/icon.png"/>

    <link rel="stylesheet" href="../../static/hehe/css/videojs.css">
    <link rel="stylesheet" href="../../static/hehe/css/videojs-theme.css"/>
    <!-- If you'd like to support IE8 -->
    <script src="../../static/hehe/js/videojs-ie8.min.js"></script>
</head>
<body class="index-bg">
<!--<div class="loading">
    <img src="../../static/hehe/images/loading.png"/>
</div>-->
<!-- Navigation -->
<div id="my-nav">
    <my-nav></my-nav>
</div>

	
<!--Slider BEGIN-->	
<section id="mysection" class="slide-wrapper">
	<div class="container" v-bind:style="{height:bannerHeight+'px'}">
		<div id="mybanner" class="carousel slide">
			
		  	<!-- Indicators -->
		  	<div class="carousel-indicators-div">
		  		<hr />
		    	<ol class="carousel-indicators">
		    		<template v-for="(bn,index) in banner">
						<li data-target="#mybanner" v-bind:data-slide-to="index" v-bind:class='{active:index==0}'>{{index+1}}</li>
					</template>
		   	 	</ol>
		  	</div>
		  	
		
		    <!-- Wrapper for slides -->
		    <div class="carousel-inner">
		    	<template v-for="(bn,index) in banner">
			        <div class="item" v-bind:class='{active:index==0}'>
			        	<div class="fill" v-bind:style="{'background-image' : 'url('+'http://staging.hehefilm.com'+bn.bcover+')'}" v-cloak>
			        		<div class="banner-title-div">
				                <a>{{bn.btitle}}</a> <span>[ {{bn.bkey}} ]</span>
				                <p class="banner-content">{{bn.bdesc}}</p>
				                <div class="banner-more">
				                    <p>更多 >></p>
				                </div>
				            </div>
			        	</div>
			        </div>
		     </template>
		    </div>
		</div>
	</div>
</section>
<!--Slider END-->


<div class="fs-video-container" style="display:none;" onclick="hideVideo()">
    <!-- <video class="fs-video-player" src="http://qnp.shanxiaxuetang.com/about.mp4" preload
    " controls="controls"
    onclick="pauseVideo()"></video> -->
    <div class="fs-video-player" onclick="stopBubble()">
        <video id="fs-videojs-player" class="video-js vjs-fluid" controls preload="auto"
               data-setup="{}">
            <source src="http://qnp.shanxiaxuetang.com/about.mp4" type='video/mp4'>
            <p class="vjs-no-js">
                要收看此视频，请开启JavaScript功能，或者升级您的浏览器至
                <a href="http://videojs.com/html5-video-support/">支持HTML5视频标签的浏览器</a>
            </p>
        </video>
    </div>
    <img class="fs-video-close" src="../../static/hehe/images/close.png">
</div>

<!--hh video 影视作品-->
<div class="hh-video">

    <div class="video-top">
        <div class="video-line-left"></div>
        <div class="hh-video-title">影视作品</div>
        <div class="video-line-right"></div>
    </div>

    <div class="video-content" id="vue-page">

        <div id="myCarousel" class="carousel slide  index-video">
            <!-- 轮播（Carousel）项目 -->
            <!-- 轮播（Carousel）导航 -->
            <a class="video-content-left" href="#myCarousel"
               data-slide="prev">
                <!--<div class="video-content-left">-->
                <img class="arrow-left" src="../../static/hehe/images/arrow-left-hh.png">
                <!--</div>-->
            </a>
            <div class="hh-video-content-slide">
                <div class="carousel-inner ">
                    <div v-for="(film,index) in films_li" v-bind:class="index==0?'item active':'item'">
                        <div class="video-content-center row">
                            <div v-for="movie in film.movie_li">
                                <a v-bind:href="'../../static/hehe/films-detail.html?movie_id='+movie.movie_id">
                                    <li class="hh-video-img-div col-md-3 col-sm-3 col-xs-3">
                                        <div class="index-course-item-img">
                                            <img id="jlp" src="http://qnp.shanxiaxuetang.com/index-course-1.jpg">
                                            <div class="index-course-item-shadow">
                                            </div>
                                        </div>
                                    </li>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <a class="video-content-right" href="#myCarousel"
               data-slide="next">
                <img class="arrow-right" src="../../static/hehe/images/arrow-right-hh.png">
            </a>

        </div>

    </div>

</div>

<!-- 合作伙伴-->
<div class="hh-partners">
    <div class="video-top">
        <div class="video-line-left"></div>
        <div class="hh-video-title">合作伙伴</div>
        <div class="video-line-right"></div>
    </div>
    <div class="partners-icon-div">
        <img class="partners-icon-left" src="../../static/hehe/images/icon-albb.png">
        <img class="partners-icon-2" src="../../static/hehe/images/icon-2.png">
        <img class="partners-icon-3" src="../../static/hehe/images/icon-3.png">
        <img class="partners-icon-4" src="../../static/hehe/images/icon-4.png">
        <img class="partners-icon-5" src="../../static/hehe/images/icon-5.png">
        <img class="partners-icon-6" src="../../static/hehe/images/icon-6.png">
        <img class="partners-icon-7" src="../../static/hehe/images/icon-7.png">
        <img class="partners-icon-8" src="../../static/hehe/images/icon-8.png">
        <img class="partners-icon-right" src="../../static/hehe/images/icon-9.png">


    </div>
</div>

<!-- Footer -->
<div id="my-footer">
    <my-footer></my-footer>
</div>


<!--JS-->
<script type="text/javascript" src="../../static/hehe/js/vue.js"></script>
<script type="text/javascript" src="../../static/hehe/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="../../static/hehe/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../static/hehe/js/axios.min.js"></script>
<script type="text/javascript" src="../../static/hehe/js/nav.js"></script>
<script type="text/javascript" src="../../static/hehe/js/banner.js"></script>
<script type="text/javascript" src="../../static/hehe/js/videojs.min.js"></script>

<script src="https://cdn.bootcss.com/axios/0.17.1/axios.min.js"></script>

<script type="text/javascript" src="../../static/hehe/js/index.js"></script>

<script>

    //    window.onload=function(){
    //        // $(".loading").fadeOut(400,function() {
    //            $(".loading").hide();
    //            setTimeout(function () {
    //                $('#Slider').carousel({
    //                 interval: 2000
    //             })
    //             loadingEnd();
    //            }, 200);

    //        // });
    //    }
    //    var oldId = 'phoneAbout';

    //    function showVideo(event) {
    //        $(".fs-video-container").show();
    //        stopBanner();
    //        openMask();
    //        var videoPlayer = videojs('fs-videojs-player');
    //        videoPlayer.play();
    //    }

    // var height = $(window).height();

    //    function hideVideo(event) {
    //        $(".fs-video-container").hide();
    //        var t = document.documentElement.scrollTop || document.body.scrollTop;
    //        if (t < height) {
    //        		resumeBanner();
    //        }
    //        closeMask();
    //        var videoPlayer = videojs('fs-videojs-player');
    //        videoPlayer.pause();
    //        videoPlayer.currentTime(0);
    //    }


    //    window.onscroll = function () {
    //        var t = document.documentElement.scrollTop || document.body.scrollTop;
    //        if (t >= height) {
    //            stopBanner();
    //        } else {
    //            resumeBanner();
    //        }
    //    }

</script>


</body>
</html>
