<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="zh-CN" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="zh-CN" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="zh-CN" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="zh-CN" class="no-js" id="hp"> <!--<![endif]-->
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1"/>
    <meta name="author" content="wangyali"/>
    <meta name="keywords" content="山下，山下学堂，山下报名，陈坤，周迅，陈国富"> <!-- 关键词，搜索什么能看到 -->
    <meta name="description" content="为了分享，为了再创造，为了往下一站出发，陈国富、周迅、陈坤于2017年共同创办山下学堂。"/> <!-- 内容描述 -->
    <meta name="theme-color" content="#861519">
    <meta name="msapplication-navbutton-color" content="#861519">
    <meta name="apple-mobile-web-app-status-bar-style" content="#861519">


    <title>山下学堂</title>

    <!--CSS-->
    <link rel="stylesheet" href="../../static/hehe/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../static/hehe/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../static/hehe/css/reset.css"/>
    <link rel="stylesheet" href="../../static/hehe/css/style.css"/>
    <link rel="stylesheet" href="../../static/hehe/css/index.css"/>
    <link rel="stylesheet" href="../../static/hehe/css/respond.css"/>
    <link rel="shortcut icon" href="../../static/hehe/images/icon.png"/>

    <link rel="stylesheet" href="../../static/hehe/css/videojs.css">
    <link rel="stylesheet" href="../../static/hehe/css/videojs-theme.css"/>

    <link rel="stylesheet" href="../../static/hehe/css/index-center.css"/>


    <!-- If you'd like to support IE8 -->
    <script src="../../static/hehe/js/videojs-ie8.min.js"></script>
</head>
<body>
<div class="loading">
    <img src="../../static/hehe/images/loading.png"/>
</div>
<!-- Navigation -->
<div id="my-nav">
    <my-nav></my-nav>
</div>

<a id="slider-the"></a>
<div id="Slider" class="carousel slide">
    <div id="arrow-container">
        <a id="pcArrow"><img class="arrow" src="../../static/hehe/images/arrow.png"/></a>
    </div>
    <a id="phoneArrow"><img class="arrow" style="bottom: 31px;" src="../../static/hehe/images/arrow.png"/></a>

    <!-- Indicators -->
    <ol id="indicators" class="carousel-indicators">
    </ol>

    <div id="pc-inner" class="carousel-inner">
    </div>

    <div id="phone-inner" class="carousel-inner">
        <div class="active">
            <a href="javascript:void(0);">
                <div class="fill" id="fill">
                </div>
            </a>
        </div>
    </div>

</div><!--Slider END-->

<!--hh video 影视作品-->
<div class="hh-video">

    <div class="video-top">
        <div class="video-line-left"></div>
        <div class="hh-video-title">影视作品</div>
        <div class="video-line-right"></div>
    </div>

    <div class="video-content">
        <div class="video-content-left">
            <img class="arrow-left" src="../../static/hehe/images/arrow-left-hh.png">
        </div>
        <div class="video-content-center row">
            <li class="sx-school-img-div col-md-3 col-sm-3 col-xs-6">
                <div class="index-course-item-img">
                    <img id="jlp" src="http://qnp.shanxiaxuetang.com/index-course-1.jpg">
                    <div class="index-course-item-shadow">
                    </div>
                </div>
            </li>
            <li class="sx-school-img-div col-md-3 col-sm-3 col-xs-6">
                <div class="index-course-item-img">
                    <img id="jlp" src="http://qnp.shanxiaxuetang.com/index-course-1.jpg">
                    <div class="index-course-item-shadow">
                    </div>
                </div>
            </li>
            <li class="sx-school-img-div col-md-3 col-sm-3 col-xs-6">
                <div class="index-course-item-img">
                    <img id="jlp" src="http://qnp.shanxiaxuetang.com/index-course-1.jpg">
                    <div class="index-course-item-shadow">
                    </div>
                </div>
            </li>
            <li class="sx-school-img-div col-md-3 col-sm-3 col-xs-6">
                <div class="index-course-item-img">
                    <img id="jlp" src="http://qnp.shanxiaxuetang.com/index-course-1.jpg">
                    <div class="index-course-item-shadow">
                    </div>
                </div>
            </li>
            <li class="sx-school-img-div col-md-3 col-sm-3 col-xs-6">
                <div class="index-course-item-img">
                    <img id="jlp" src="http://qnp.shanxiaxuetang.com/index-course-1.jpg">
                    <div class="index-course-item-shadow">
                    </div>
                </div>
            </li>


        </div>
        <div class="video-content-right">
            <img class="arrow-right" src="../../static/hehe/images/arrow-right-hh.png">
        </div>
    </div>

</div>

<!-- 合作伙伴-->
<div class="hh-partners">
    <div class="video-top">
        <div class="video-line-left"></div>
        <div class="hh-video-title">合作伙伴</div>
        <div class="video-line-right"></div>
    </div>
    <div class="partners-icon-div">
        <img class="partners-icon-left" src="../../static/hehe/images/icon-albb.png">
        <img class="partners-icon" src="../../static/hehe/images/icon-2.png">
        <img class="partners-icon" src="../../static/hehe/images/icon-3.png">
        <img class="partners-icon" src="../../static/hehe/images/icon-4.png">
        <img class="partners-icon" src="../../static/hehe/images/icon-5.png">
        <img class="partners-icon" src="../../static/hehe/images/icon-6.png">
        <img class="partners-icon-right" src="../../static/hehe/images/icon-7.png">

    </div>
</div>





<!-- <a class="sxScroll" href="#Slider"><img class="top-arrow" src="../../static/hehe/images/top_arrow.png"/></a> -->

<!-- Footer -->
<div id="my-footer">
    <my-footer></my-footer>
</div>


<!--JS-->
<script type="text/javascript" src="../../static/hehe/js/vue.js"></script>
<script type="text/javascript" src="../../static/hehe/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="../../static/hehe/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../static/hehe/js/nav.js"></script>
<script type="text/javascript" src="../../static/hehe/js/respond.js"></script>
<script type="text/javascript" src="../../static/hehe/js/banner.js"></script>
<script type="text/javascript" src="../../static/hehe/js/videojs.min.js"></script>
<script type="text/javascript" src="../../static/hehe/js/template-web.js"></script>



</body>
</html>
